<%# CSS・・・assets/stylesheets/devise/registrations.css %>
<%= render "shared/header" %>
<% breadcrumb :edit_user %>
<%= breadcrumbs separator:" &#x27A4; ", class: "logo" %>

<%= form_with model: @user, url: user_registration_path, class: "registration-main", local: true do |f| %>
  <div class="form-wrap">
    <div class="form-header">
      <h1 class="form-top-text">
        アカウント情報の変更
      </h1>
    </div>

    <%= render "shared/error_messages", model: f.object %>

    <div class="form-group">
      <div>
        <label class="form-text">ニックネーム</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_field :nickname, class:"input-default", id:"nickname", placeholder:"3~12文字のニックネーム", maxlength:"20", autofocus: true %>
      <p class="info-text">※全角半角どちらでも登録できます。</p>
    </div>

    <div class="form-group">
      <div>
        <label class="form-text">性別</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.collection_select(:gender_id, Gender.all, :id, :name, {}, {class:"select-box", id:"gender"}) %>
    </div>

    <div class="form-group">
      <div>
        <label class="form-text">メールアドレス</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.email_field :email, class:"input-default", id:"email", placeholder:"PC・携帯どちらでも可" %>
      <p class="info-text">※全て半角で入力してください。</p>
    </div>

    <div class="form-group">
      <div>
        <label class="form-text">新しいパスワード</label>
        <span class="indispensable-free">任意</span>
      </div>
      <%= f.password_field :password, class:"input-default", id:"password", placeholder:"6文字以上の英字と数字を両方含めた新しいパスワード" %>
      <p class="info-text">※全て半角で入力してください。</p>
    </div>
    
    <div class="form-group">
      <div>
        <label class="form-text">新しいパスワード(再入力)</label>
        <span class="indispensable-free">任意</span>
      </div>
      <%= f.password_field :password_confirmation, class:"input-default", id:"password-confirmation", placeholder:"同じ新しいパスワードを入力してください" %>
    </div>

    <div class="form-group">
      <div>
        <label class="form-text">現在のパスワード</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.password_field :current_password, class:"input-default", id:"password", placeholder:"6文字以上の英字と数字を両方含めたパスワード" %>
      <p class="info-text">※アカウント情報の変更には入力が必要です。</p>
    </div>

    <div class="create-edit-set">
      <%= f.submit "アカウント更新", class:"create-edit-btn" %>
    </div>

    <div class="mypage-Back-box">
      <%= link_to  "マイページに戻る", mypage_user_path(current_user), class: "mypage-Back-btn" %>
    </div>
  </div>
<% end %>

<div class="delete-main">
  <div class="delete-form-wrap">
    <div class="delete-form-header">
      <h1 class="delete-form-top-text">
        アカウント情報の削除
      </h1>
    </div>

    <div class="delete-form-text">
      <p class="delete-text">
        <%=current_user.nickname%>の情報を削除することができます。
      </p>
      <p class="delete-text">
        これまでの投稿内容も全て削除されます。
      </p>
    </div>

    <div class="delete-btn">
      <%= link_to  "アカウント削除", user_path(current_user), method: :delete, class: "delete-red-btn" %>
    </div>

    <div class="delete-mypage-Back-box">
      <%= link_to  "マイページに戻る", mypage_user_path(current_user), class: "delete-mypage-Back-btn" %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>
