<%# CSS・・・assets/stylesheets/comments/new.scss %>
<%= render "shared/header" %>
<% breadcrumb :new_comment, @facility %>
<%= breadcrumbs separator:" &#x27A4; ", class: "logo" %>

<%= form_with model: @comment, url: facility_comments_path, class: "registration-main", local: true do |f| %>
  <div class="form-wrap">
    <div class="comments-form-header">
      <% if @facility.category.name == "動物園" %>
        <div class="newedit-facility-list-zoo">
          <%= image_tag "zoo-icon.png", width:"52px", height:"52px" %>
          <h1 class="newedit-facility-name">
            <%= @facility.name %>
          </h1>
        </div>
      <% else %>
        <div class="newedit-facility-list-aquarium">
          <%= image_tag "aquarium-icon.png", width:"52px", height:"52px" %>
          <h1 class="newedit-facility-name">
            <%= @facility.name %>
          </h1>
        </div>
      <% end %>
      <h1 class="comments-form-text">
        レビュー投稿
      </h1>
    </div>

    <%= render "shared/error_messages", model: f.object %>

    <div class="comments-form-group">
      <div>
        <label class="form-text">レビュー内容</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :text, class:"comments-input-default", id:"comment-text", autofocus: true %>
      <p class="info-text">※スポット利用後のレビューを入力してください。</p>
    </div>

    <div class="create-edit-set">
      <%= f.submit "レビュー投稿", class:"create-edit-btn" %>
    </div>

    <div class="facility-back-box">
      <% if @facility.category.name == "動物園" %>
        <%= link_to  "動物園の詳細ページに戻る", facility_path(@facility.id), class: "zoo-back-btn" %>
      <% else %>
        <%= link_to  "水族館の詳細ページに戻る", facility_path(@facility.id), class: "aquarium-back-btn" %>
      <% end %>
    </div>
  </div>
<% end %>

<%= render "shared/footer" %>
