<%# CSS・・・assets/stylesheets/users/show.css %>
<li class="top-picture-li">
  <% if picture.facility.category_id == 1 %>
    <div class="top-picture-box picture-box-zoo">
      <%= link_to user_picture_path(picture.user, picture) do %>
        <p class="picture-created-data">
          投稿日 : <%= picture.created_at.to_s(:datetime_jp) %>
        </p>
        <p class="mypage-picture-name">
          <%= truncate(picture.facility.name, length: 11, separator: "・") %>
        </p>
        <%= image_tag picture.image, class: "top-picture-image" %>
        <h2 class="top-picture-title">
          <%= truncate(picture.title, length: 11, separator: "・") %>
        </h2>   
      <% end %>
    </div>
  <% else %>
    <div class="top-picture-box picture-box-aquarium">
      <%= link_to user_picture_path(picture.user, picture) do %>
        <p class="picture-created-data">
          投稿日 : <%= picture.created_at.to_s(:datetime_jp) %>
        </p>
        <p class="mypage-picture-name">
          <%= truncate(picture.facility.name, length: 11, separator: "・") %>
        </p>
        <%= image_tag picture.image, class: "top-picture-image" %>
        <h2 class="top-picture-title">
          <%= truncate(picture.title, length: 11, separator: "・") %>
        </h2>   
      <% end %>
    </div>
  <% end %>
</li>
