<%# CSS・・・assets/stylesheets/users/show.css %>
<li class="top-picture-li">
  <% if Facility.find(good_picture.picture.facility_id).category_id == 1 %>
    <div class="good-picture-box picture-box-zoo">
      <%= link_to user_picture_path(user_id: good_picture.user_id, id: good_picture.picture_id) do %>
        <p class="top-picture-name">
          <%= truncate(Facility.find(good_picture.picture.facility_id).name, length: 11, separator: "・") %>
        </p>
        <%= image_tag good_picture.picture.image, class: "top-picture-image" %>
        <h2 class="top-picture-title">
          <%= truncate(good_picture.picture.title, length: 11, separator: "・") %>
        </h2>   
      <% end %>
    </div>
  <% else %>
    <div class="good-picture-box picture-box-aquarium">
      <%= link_to user_picture_path(user_id: good_picture.user_id, id: good_picture.picture_id) do %>
        <p class="top-picture-name">
          <%= truncate(Facility.find(good_picture.picture.facility_id).name, length: 11, separator: "・") %>
        </p>
        <%= image_tag good_picture.picture.image, class: "top-picture-image" %>
        <h2 class="top-picture-title">
          <%= truncate(good_picture.picture.title, length: 11, separator: "・") %>
        </h2>   
      <% end %>
    </div>
  <% end %>
</li>
