<%= render "shared/header" %>
<% breadcrumb :favolist %>
<%= breadcrumbs separator:" &#x27A4; ", class: "logo" %>

<div class="search-main">
  <div class="search-wrap">
    <div class="favorite-header">
    <% if current_user.gender.name == "男性" %>
      <h1 class="mypage-nickname-men mypage-top"><%= current_user.nickname %></h1>
      <p class="favorite-text">お気に入り<%= @favorites.length %>件</p>
    <% elsif current_user.gender.name == "女性" %>
      <h1 class="mypage-nickname-woman mypage-top"><%= current_user.nickname %>のお気に入り</h1>
    <% else %>
      <h1 class="mypage-nickname-other mypage-top"><%= current_user.nickname %>のお気に入り</h1>
    <% end %>
    </div>
    
    <% if @favorites.length == 0 %>
      <p class="good-picture-nil-text">お気に入り情報がありません。</p>
    <% end %>

    <% if current_user.gender.name == "男性" %>
      <ul class="facilities-list">
        <%= render partial: "facility", collection: @favorites %>
      </ul>
    <% elsif current_user.gender.name == "女性" %>
      <ul class="facilities-list">
        <%= render partial: "facility", collection: @favorites %>
      </ul>
    <% else %>
      <ul class="facilities-list">
        <%= render partial: "facility", collection: @favorites %>
      </ul>
    <% end %>

    <div class="mypage-Back-box">
      <%= link_to "マイページに戻る", mypage_user_path(current_user), class: "mypage-Back-btn" %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>
