<%= render "shared/header" %>
<% breadcrumb :goodlist %>
<%= breadcrumbs separator:" &#x27A4; ", class: "logo" %>

<div class="mypage-main">
  <div class="mypage-header">
    <% if current_user.gender.name == "男性" %>
      <h1 class="mypage-nickname-men mypage-top"><%= current_user.nickname %></h1>
    <% elsif current_user.gender.name == "女性" %>
      <h1 class="mypage-nickname-woman mypage-top"><%= current_user.nickname %></h1>
    <% else %>
      <h1 class="mypage-nickname-other mypage-top"><%= current_user.nickname %></h1>
    <% end %>
  </div>

  <div class="top-picture-main">
    <div class="top-picture-form-wrap">
      <% if current_user.gender.name == "男性" %>
        <h2 class="top-form-top-text mypage-men-first-letter">
          いいね <%= @goods_count %>件
        </h2>
      <% elsif current_user.gender.name == "女性" %>
        <h2 class="top-form-top-text mypage-woman-first-letter">
          いいね <%= @goods_count %>件
        </h2>
      <% else %>
        <h2 class="top-form-top-text mypage-other-first-letter">
          いいね <%= @goods_count %>件
        </h2>
      <% end %>
      <ul class="top-picture-list">
        <%= render partial: "picture-good", collection: @goods, as: :good_picture %>
      </ul>
      <% if @goods_count == 0 %>
        <p class="good-picture-nil-text">
          いいねをしていません。
        </p>
      <% end %>
    </div>
  </div>

  <div class="good-mypage-Back-box">
    <%= link_to "マイページに戻る", mypage_user_path(current_user), class: "mypage-Back-btn" %>
  </div>
</div>
<%= render "shared/footer" %>
