<%# CSS・・・assets/stylesheets/users/show.css %>
<%= render "shared/header" %>
<% if user_signed_in? && @user == current_user %>
  <% breadcrumb :mypage %>
<% else %>
  <% breadcrumb :userpage %>
<% end %>
<%= breadcrumbs separator:" &#x27A4; ", class: "logo" %>

<div class="mypage-main">
  <div class="mypage-header">
    <% if user_signed_in? && @user == current_user %>
      <% if @user.gender.name == "男性" %>
        <h1 class="mypage-nickname-men mypage-top"><%= @user.nickname %></h1>
      <% elsif @user.gender.name == "女性" %>
        <h1 class="mypage-nickname-woman mypage-top"><%= @user.nickname %></h1>
      <% else %>
        <h1 class="mypage-nickname-other mypage-top"><%= @user.nickname %></h1>
      <% end %>
      <h2 class="mypage-top-text">マイページ</h2>
    <% else %>
      <% if @user.gender.name == "男性" %>
        <h1 class="mypage-nickname-men mypage-top"><%= @user.nickname %></h1>
      <% elsif @user.gender.name == "女性" %>
        <h1 class="mypage-nickname-woman mypage-top"><%= @user.nickname %></h1>
      <% else %>
        <h1 class="mypage-nickname-other mypage-top"><%= @user.nickname %></h1>
      <% end %>
      <h2 class="mypage-top-text">ユーザーページ</h2>
    <% end %>
  </div>

  <% if user_signed_in? && @user == current_user %>
    <div class="mypage-icon-set">
      <%= link_to image_tag("top-star.png", width:"130px", height:"120px", class:"mypage-icon top-star"), favolist_user_path(current_user) %>
      <%= link_to image_tag("top-heart.png", width:"130px", height:"120px", class:"mypage-icon top-heart"), goodlist_user_path(current_user) %>
    </div>
  <% end %>

  <div class="top-picture-main">
    <div class="top-picture-form-wrap">
      <% if @user.gender.name == "男性" %>
        <h2 class="top-form-top-text mypage-men-first-letter">
          レビュー <%= @comments.length %>件
        </h2>
      <% elsif @user.gender.name == "女性" %>
        <h2 class="top-form-top-text mypage-woman-first-letter">
          レビュー <%= @comments.length %>件
        </h2>
      <% else %>
        <h2 class="top-form-top-text mypage-other-first-letter">
          レビュー <%= @comments.length %>件
        </h2>
      <% end %>
      <ul class="mypage-comment-list">
        <%= render partial: "comment", collection: @comments %>
      </ul>
      <% if @comments.length == 0 %>
        <p class="mypage-comment-picture-nil-text">
          <%= @user.nickname %>のレビューはありません。
        </p>
      <% end %>
    </div>
  </div>

  <div class="top-picture-main">
    <div class="top-picture-form-wrap">
      <% if @user.gender.name == "男性" %>
        <h2 class="top-form-top-text top-text-picture-top mypage-men-first-letter">
          ベストショット <%= @pictures.length %>件
        </h2>
      <% elsif @user.gender.name == "女性" %>
        <h2 class="top-form-top-text top-text-picture-top mypage-woman-first-letter">
          ベストショット <%= @pictures.length %>件
        </h2>
      <% else %>
        <h2 class="top-form-top-text top-text-picture-top mypage-other-first-letter">
          ベストショット <%= @pictures.length %>件
        </h2>
      <% end %>
      <ul class="top-picture-list">
        <%= render partial: "picture", collection: @pictures %>
      </ul>
      <% if @pictures.length == 0 %>
        <p class="show-comment-picture-nil-text">
          <%= @user.nickname %>のベストショットはありません。
        </p>
      <% end %>
    </div>
  </div>

  <% if user_signed_in? && @user == current_user %>
    <div class="user-edit-btn">
      <%= link_to  "アカウント情報の変更 / 削除", edit_user_registration_path(current_user), class: "user-edit-red-btn", data: {confirm: "アカウント情報の変更/削除ページに進みますか?"} %>
    </div>
  <% end %>
</div>
<%= render "shared/footer" %>
