<%# CSS・・・assets/stylesheets/facilities/search.css %>
<% if facility.category.name == "動物園" %>
  <li class='facility-list-zoo'>
    <%# link_to facility_path(facility.id) do %>
      <%= image_tag "zoo-icon.png", class: "category-icon" %>
      <div class='facility-textbox'>
        <h3 class='facility-text'>
          <%= facility.prefectures.name %>
        </h3>
        <h3 class='facility-text'>
          <%= facility.name %>
        </h3>
      </div>
    <%# end %>
  </li>
<% else %>
  <li class='facility-list-aquarium'>
    <%# link_to facility_path(facility.id) do %>
      <%= image_tag "aquarium-icon.png", class: "category-icon" %>
      <div class='facility-textbox'>
        <h3 class='facility-text'>
          <%= facility.prefectures.name %>
        </h3>
        <h3 class='facility-text'>
          <%= facility.name %>
        </h3>
      </div>
    <%# end %>
  </li>
<% end %>
