<%# CSS・・・assets/stylesheets/facilities/search.css %>
<li>
  <% if facility.category.name == "動物園" %>
    <%= link_to facility_path(facility.id), class: 'facility-list-zoo' do %>
      <%= image_tag "zoo-icon.png" %>
      <div class='facility-text-box'>
        <p class='facility-text'>
          <%= facility.prefectures.name %>
        </p>
        <h3 class='facility-texts'>
          <%= facility.name %>
        </h3>
      </div>
    <% end %>
  <% else %>
    <%= link_to facility_path(facility.id), class: 'facility-list-aquarium' do %>
      <%= image_tag "aquarium-icon.png" %>
      <div class='facility-text-box'>
        <p class='facility-text'>
          <%= facility.prefectures.name %>
        </p>
        <h3 class='facility-texts'>
          <%= facility.name %>
        </h3>
      </div>
    <% end %>
  <% end %>
</li>
