<%# CSS・・・assets/stylesheets/facilities/region.css %>
<%= render "shared/header" %>
<% breadcrumb :chubu_area %>
<%= breadcrumbs separator: " &#x27A4; ", class: "logo" %>

<div class="region-main">
  <div class="region-wrap">
    <div class="region-map">
      <div class="region-box">
        <%= image_tag asset_path("chubu-area.png"), alt:"中部マップ", width:"495px", height:"495px" %>
        <div class="region-map-iconset">
        <%= image_tag asset_path("chubu-icon.png"), alt:"中部", class:"region-map-name" %>
        <%= image_tag asset_path("niigata.png"), alt:"新潟", class:"region-map-prefectures niigata" %>
        <%= image_tag asset_path("toyama.png"), alt:"富山", class:"region-map-prefectures toyama" %>
        <%= image_tag asset_path("ishikawa.png"), alt:"石川", class:"region-map-prefectures ishikawa" %>
        <%= image_tag asset_path("fukui.png"), alt:"福井", class:"region-map-prefectures fukui" %>
        <%= image_tag asset_path("yamanashi.png"), alt:"山梨", class:"region-map-prefectures yamanashi" %>
        <%= image_tag asset_path("nagano.png"), alt:"長野", class:"region-map-prefectures nagano" %>
        <%= image_tag asset_path("gifu.png"), alt:"岐阜", class:"region-map-prefectures gifu" %>
        <%= image_tag asset_path("shizuoka.png"), alt:"静岡", class:"region-map-prefectures shizuoka" %>
        <%= image_tag asset_path("aichi.png"), alt:"愛知", class:"region-map-prefectures aichi" %>
        </div>
      </div>
    </div>

    <div class="prefectures-area">
      <div class="prefectures-box">
        <h2 class="prefectures-top chubu-first-letter">新潟県</h2>
        <%= image_tag asset_path("hokkaidotohoku-image.jpg"), alt:"新潟イメージ", width:"560px", height:"220px" %>
        <div class="prefectures-iconset">
          <div class="prefectures-zoo">
            <% if @niigata_zoo.length != 0 %>
              <div class="prefectures-set">
                <%= link_to "動物園の一覧", spot_facilities_path(category_id: 1, prefectures_id: 15), class: "prefectures-zoo-btn" %>
                <p class="prefectures-text">(<%= @niigata_zoo.length %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">動物園の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
          <div class="prefectures-aquarium">
            <% if @niigata_aquarium.length != 0 %>
              <div class="prefectures-set">
                <%= link_to "水族館の一覧", spot_facilities_path(category_id: 2, prefectures_id: 15), class: "prefectures-aquarium-btn" %>
                <p class="prefectures-text">(<%= @niigata_aquarium.length %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">水族館の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
        </div>
      </div>
      
      <div class="prefectures-box">
        <h2 class="prefectures-top chubu-first-letter">富山県</h2>
        <%= image_tag asset_path("hokkaidotohoku-image.jpg"), alt:"富山イメージ", width:"560px", height:"220px" %>
        <div class="prefectures-iconset">
          <div class="prefectures-zoo">
            <% if @toyama_zoo.length != 0 %>
              <div class="prefectures-set">
                <%= link_to "動物園の一覧", spot_facilities_path(category_id: 1, prefectures_id: 16), class: "prefectures-zoo-btn" %>
                <p class="prefectures-text">(<%= @toyama_zoo.length %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">動物園の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
          <div class="prefectures-aquarium">
            <% if @toyama_aquarium.length != 0 %>
              <div class="prefectures-set">
                <%= link_to "水族館の一覧", spot_facilities_path(category_id: 2, prefectures_id: 16), class: "prefectures-aquarium-btn" %>
                <p class="prefectures-text">(<%= @toyama_aquarium.length %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">水族館の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
        </div>
      </div>
      
      <div class="prefectures-box">
        <h2 class="prefectures-top chubu-first-letter">石川県</h2>
        <%= image_tag asset_path("hokkaidotohoku-image.jpg"), alt:"石川イメージ", width:"560px", height:"220px" %>
        <div class="prefectures-iconset">
          <div class="prefectures-zoo">
            <% if @ishikawa_zoo.length != 0 %>
              <div class="prefectures-set">
                <%= link_to "動物園の一覧", spot_facilities_path(category_id: 1, prefectures_id: 17), class: "prefectures-zoo-btn" %>
                <p class="prefectures-text">(<%= @ishikawa_zoo.length %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">動物園の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
          <div class="prefectures-aquarium">
            <% if @ishikawa_aquarium.length != 0 %>
              <div class="prefectures-set">
                <%= link_to "水族館の一覧", spot_facilities_path(category_id: 2, prefectures_id: 17), class: "prefectures-aquarium-btn" %>
                <p class="prefectures-text">(<%= @ishikawa_aquarium.length %>件)</p>
              </div>  
            <% else %>
              <p class="prefectures-text prefectures-margin-top">水族館の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
        </div>
      </div>
      
      <div class="prefectures-box">
        <h2 class="prefectures-top chubu-first-letter">福井県</h2>
        <%= image_tag asset_path("hokkaidotohoku-image.jpg"), alt:"福井イメージ", width:"560px", height:"220px" %>
        <div class="prefectures-iconset">
          <div class="prefectures-zoo">
            <% if @fukui_zoo.length != 0 %>
              <div class="prefectures-set">
                <%= link_to "動物園の一覧", spot_facilities_path(category_id: 1, prefectures_id: 18), class: "prefectures-zoo-btn" %>
                <p class="prefectures-text">(<%= @fukui_zoo.length %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">動物園の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
          <div class="prefectures-aquarium">
            <% if @fukui_aquarium.length != 0 %>
              <div class="prefectures-set">
                <%= link_to "水族館の一覧", spot_facilities_path(category_id: 2, prefectures_id: 18), class: "prefectures-aquarium-btn" %>
                <p class="prefectures-text">(<%= @fukui_aquarium.length %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">水族館の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
        </div>
      </div>

      <div class="prefectures-box">
        <h2 class="prefectures-top chubu-first-letter">山梨県</h2>
        <%= image_tag asset_path("hokkaidotohoku-image.jpg"), alt:"山梨イメージ", width:"560px", height:"220px" %>
        <div class="prefectures-iconset">
          <div class="prefectures-zoo">
            <% if @yamanashi_zoo.length != 0 %>
              <div class="prefectures-set">
                <%= link_to "動物園の一覧", spot_facilities_path(category_id: 1, prefectures_id: 19), class: "prefectures-zoo-btn" %>
                <p class="prefectures-text">(<%= @yamanashi_zoo.length %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">動物園の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
          <div class="prefectures-aquarium">
            <% if @yamanashi_aquarium.length != 0 %>
              <div class="prefectures-set">
                <%= link_to "水族館の一覧", spot_facilities_path(category_id: 2, prefectures_id: 19), class: "prefectures-aquarium-btn" %>
                <p class="prefectures-text">(<%= @yamanashi_aquarium.length %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">水族館の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
        </div>
      </div>

      <div class="prefectures-box">
        <h2 class="prefectures-top chubu-first-letter">長野県</h2>
        <%= image_tag asset_path("hokkaidotohoku-image.jpg"), alt:"長野イメージ", width:"560px", height:"220px" %>
        <div class="prefectures-iconset">
          <div class="prefectures-zoo">
            <% if @nagano_zoo.length != 0 %>
              <div class="prefectures-set">
                <%= link_to "動物園の一覧", spot_facilities_path(category_id: 1, prefectures_id: 20), class: "prefectures-zoo-btn" %>
                <p class="prefectures-text">(<%= @nagano_zoo.length %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">動物園の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
          <div class="prefectures-aquarium">
            <% if @nagano_aquarium.length != 0 %>
              <div class="prefectures-set">
                <%= link_to "水族館の一覧", spot_facilities_path(category_id: 2, prefectures_id: 20), class: "prefectures-aquarium-btn" %>
                <p class="prefectures-text">(<%= @nagano_aquarium.length %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">水族館の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
        </div>
      </div>

      <div class="prefectures-box">
        <h2 class="prefectures-top chubu-first-letter">岐阜県</h2>
        <%= image_tag asset_path("hokkaidotohoku-image.jpg"), alt:"岐阜イメージ", width:"560px", height:"220px" %>
        <div class="prefectures-iconset">
          <div class="prefectures-zoo">
            <% if @gifu_zoo.length != 0 %>
              <div class="prefectures-set">
                <%= link_to "動物園の一覧", spot_facilities_path(category_id: 1, prefectures_id: 21), class: "prefectures-zoo-btn" %>
                <p class="prefectures-text">(<%= @gifu_zoo.length %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">動物園の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
          <div class="prefectures-aquarium">
            <% if @gifu_aquarium.length != 0 %>
              <div class="prefectures-set">
                <%= link_to "水族館の一覧", spot_facilities_path(category_id: 2, prefectures_id: 21), class: "prefectures-aquarium-btn" %>
                <p class="prefectures-text">(<%= @gifu_aquarium.length %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">水族館の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
        </div>
      </div>

      <div class="prefectures-box">
        <h2 class="prefectures-top chubu-first-letter">静岡県</h2>
        <%= image_tag asset_path("hokkaidotohoku-image.jpg"), alt:"静岡イメージ", width:"560px", height:"220px" %>
        <div class="prefectures-iconset">
          <div class="prefectures-zoo">
            <% if @shizuoka_zoo.length != 0 %>
              <div class="prefectures-set">
                <%= link_to "動物園の一覧", spot_facilities_path(category_id: 1, prefectures_id: 22), class: "prefectures-zoo-btn" %>
                <p class="prefectures-text">(<%= @shizuoka_zoo.length %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">動物園の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
          <div class="prefectures-aquarium">
            <% if @shizuoka_aquarium.length != 0 %>
              <div class="prefectures-set">
                <%= link_to "水族館の一覧", spot_facilities_path(category_id: 2, prefectures_id: 22), class: "prefectures-aquarium-btn" %>
                <p class="prefectures-text">(<%= @shizuoka_aquarium.length %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">水族館の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
        </div>
      </div>

      <div class="prefectures-box">
        <h2 class="prefectures-top chubu-first-letter">愛知県</h2>
        <%= image_tag asset_path("hokkaidotohoku-image.jpg"), alt:"愛知イメージ", width:"560px", height:"220px" %>
        <div class="prefectures-iconset">
          <div class="prefectures-zoo">
            <% if @aichi_zoo.length != 0 %>
              <div class="prefectures-set">
                <%= link_to "動物園の一覧", spot_facilities_path(category_id: 1, prefectures_id: 23), class: "prefectures-zoo-btn" %>
                <p class="prefectures-text">(<%= @aichi_zoo.length %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">動物園の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
          <div class="prefectures-aquarium">
            <% if @aichi_aquarium.length != 0 %>
              <div class="prefectures-set">
                <%= link_to "水族館の一覧", spot_facilities_path(category_id: 2, prefectures_id: 23), class: "prefectures-aquarium-btn" %>
                <p class="prefectures-text">(<%= @aichi_aquarium.length %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">水族館の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="region-again-search-box">
      <%= link_to "別のエリアで探す", "/", class: "region-again-search-btn" %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>
