<%# CSS・・・assets/stylesheets/facilities/region.css %>
<% set_meta_tags title: '中国四国エリアのページ', description: 'あにまるコネクションへようこそ!!中国四国エリアの動物園・水族館を探すことができます。多種多様な生物との出会いをつくり、その[思い出]を記録することができます。' %>
<%= render "shared/header" %>
<% breadcrumb :chugokushikoku_area %>
<%= breadcrumbs separator: " &#x27A4; ", class: "logo" %>

<div class="region-main">
  <div class="region-wrap">
    <div class="region-map">
      <div class="region-box">
        <%= image_tag asset_path("chugokushikoku-area.png"), alt:"中国四国マップ", width:"495px", height:"495px" %>
        <div class="region-map-iconset">
        <%= image_tag asset_path("chugoku-shikoku-icon.png"), alt:"中国四国", class:"region-map-name" %>
        <a href="#scroll-tottori"><%= image_tag asset_path("tottori.png"), alt:"鳥取", class:"region-map-prefectures tottori" %></a>
        <a href="#scroll-shimane"><%= image_tag asset_path("shimane.png"), alt:"島根", class:"region-map-prefectures shimane" %></a>
        <a href="#scroll-okayama"><%= image_tag asset_path("okayama.png"), alt:"岡山", class:"region-map-prefectures okayama" %></a>
        <a href="#scroll-hiroshima"><%= image_tag asset_path("hiroshima.png"), alt:"広島", class:"region-map-prefectures hiroshima" %></a>
        <a href="#scroll-yamaguchi"><%= image_tag asset_path("yamaguchi.png"), alt:"山口", class:"region-map-prefectures yamaguchi" %></a>
        <a href="#scroll-tokushima"><%= image_tag asset_path("tokushima.png"), alt:"徳島", class:"region-map-prefectures tokushima" %></a>
        <a href="#scroll-kagawa"><%= image_tag asset_path("kagawa.png"), alt:"香川", class:"region-map-prefectures kagawa" %></a>
        <a href="#scroll-ehime"><%= image_tag asset_path("ehime.png"), alt:"愛媛", class:"region-map-prefectures ehime" %></a>
        <a href="#scroll-kochi"><%= image_tag asset_path("kochi.png"), alt:"高知", class:"region-map-prefectures kochi" %></a>
        </div>
      </div>
    </div> 
    
    <div class="prefectures-area">
      <div class="prefectures-box" id="scroll-tottori">
        <h2 class="prefectures-top chugokushikoku-first-letter">鳥取県</h2>
        <%= image_tag asset_path("tottori-image.jpg"), alt:"鳥取イメージ", width:"560px", height:"220px" %>
        <div class="prefectures-iconset">
          <div class="prefectures-zoo">
            <% if @tottori_zoo != 0 %>
              <div class="prefectures-set">
                <%= link_to "動物園の一覧", spot_facilities_path(category_id: 1, prefectures_id: 31), class: "prefectures-zoo-btn" %>
                <p class="prefectures-text">(<%= @tottori_zoo %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">動物園の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
          <div class="prefectures-aquarium">
            <% if @tottori_aquarium != 0 %>
              <div class="prefectures-set">
                <%= link_to "水族館の一覧", spot_facilities_path(category_id: 2, prefectures_id: 31), class: "prefectures-aquarium-btn" %>
                <p class="prefectures-text">(<%= @tottori_aquarium %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">水族館の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
        </div>
      </div>
      
      <div class="prefectures-box" id="scroll-shimane">
        <h2 class="prefectures-top chugokushikoku-first-letter">島根県</h2>
        <%= image_tag asset_path("shimane-image.jpg"), alt:"島根イメージ", width:"560px", height:"220px" %>
        <div class="prefectures-iconset">
          <div class="prefectures-zoo">
            <% if @shimane_zoo != 0 %>
              <div class="prefectures-set">
                <%= link_to "動物園の一覧", spot_facilities_path(category_id: 1, prefectures_id: 32), class: "prefectures-zoo-btn" %>
                <p class="prefectures-text">(<%= @shimane_zoo %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">動物園の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
          <div class="prefectures-aquarium">
            <% if @shimane_aquarium != 0 %>
              <div class="prefectures-set">
                <%= link_to "水族館の一覧", spot_facilities_path(category_id: 2, prefectures_id: 32), class: "prefectures-aquarium-btn" %>
                <p class="prefectures-text">(<%= @shimane_aquarium %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">水族館の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
        </div>
      </div>
      
      <div class="prefectures-box" id="scroll-okayama">
        <h2 class="prefectures-top chugokushikoku-first-letter">岡山県</h2>
        <%= image_tag asset_path("okayama-image.jpg"), alt:"岡山イメージ", width:"560px", height:"220px" %>
        <div class="prefectures-iconset">
          <div class="prefectures-zoo">
            <% if @okayama_zoo != 0 %>
              <div class="prefectures-set">
                <%= link_to "動物園の一覧", spot_facilities_path(category_id: 1, prefectures_id: 33), class: "prefectures-zoo-btn" %>
                <p class="prefectures-text">(<%= @okayama_zoo %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">動物園の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
          <div class="prefectures-aquarium">
            <% if @okayama_aquarium != 0 %>
              <div class="prefectures-set">
                <%= link_to "水族館の一覧", spot_facilities_path(category_id: 2, prefectures_id: 33), class: "prefectures-aquarium-btn" %>
                <p class="prefectures-text">(<%= @okayama_aquarium %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">水族館の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
        </div>
      </div>
      
      <div class="prefectures-box" id="scroll-hiroshima">
        <h2 class="prefectures-top chugokushikoku-first-letter">広島県</h2>
        <%= image_tag asset_path("hiroshima-image.jpg"), alt:"広島イメージ", width:"560px", height:"220px" %>
        <div class="prefectures-iconset">
          <div class="prefectures-zoo">
            <% if @hiroshima_zoo != 0 %>
              <div class="prefectures-set">
                <%= link_to "動物園の一覧", spot_facilities_path(category_id: 1, prefectures_id: 34), class: "prefectures-zoo-btn" %>
                <p class="prefectures-text">(<%= @hiroshima_zoo %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">動物園の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
          <div class="prefectures-aquarium">
            <% if @hiroshima_aquarium != 0 %>
              <div class="prefectures-set">
                <%= link_to "水族館の一覧", spot_facilities_path(category_id: 2, prefectures_id: 34), class: "prefectures-aquarium-btn" %>
                <p class="prefectures-text">(<%= @hiroshima_aquarium %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">水族館の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
        </div>
      </div>

      <div class="prefectures-box" id="scroll-yamaguchi">
        <h2 class="prefectures-top chugokushikoku-first-letter">山口県</h2>
        <%= image_tag asset_path("yamaguchi-image.jpg"), alt:"山口イメージ", width:"560px", height:"220px" %>
        <div class="prefectures-iconset">
          <div class="prefectures-zoo">
            <% if @yamaguchi_zoo != 0 %>
              <div class="prefectures-set">
                <%= link_to "動物園の一覧", spot_facilities_path(category_id: 1, prefectures_id: 35), class: "prefectures-zoo-btn" %>
                <p class="prefectures-text">(<%= @yamaguchi_zoo %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">動物園の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
          <div class="prefectures-aquarium">
            <% if @yamaguchi_aquarium != 0 %>
              <div class="prefectures-set">
                <%= link_to "水族館の一覧", spot_facilities_path(category_id: 2, prefectures_id: 35), class: "prefectures-aquarium-btn" %>
                <p class="prefectures-text">(<%= @yamaguchi_aquarium %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">水族館の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
        </div>
      </div>

      <div class="prefectures-box" id="scroll-tokushima">
        <h2 class="prefectures-top chugokushikoku-first-letter">徳島県</h2>
        <%= image_tag asset_path("tokushima-image.jpg"), alt:"徳島イメージ", width:"560px", height:"220px" %>
        <div class="prefectures-iconset">
          <div class="prefectures-zoo">
            <% if @tokushima_zoo != 0 %>
              <div class="prefectures-set">
                <%= link_to "動物園の一覧", spot_facilities_path(category_id: 1, prefectures_id: 36), class: "prefectures-zoo-btn" %>
                <p class="prefectures-text">(<%= @tokushima_zoo %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">動物園の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
          <div class="prefectures-aquarium">
            <% if @tokushima_aquarium != 0 %>
              <div class="prefectures-set">
                <%= link_to "水族館の一覧", spot_facilities_path(category_id: 2, prefectures_id: 36), class: "prefectures-aquarium-btn" %>
                <p class="prefectures-text">(<%= @tokushima_aquarium %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">水族館の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
        </div>
      </div>

      <div class="prefectures-box" id="scroll-kagawa">
        <h2 class="prefectures-top chugokushikoku-first-letter">香川県</h2>
        <%= image_tag asset_path("kagawa-image.jpg"), alt:"香川イメージ", width:"560px", height:"220px" %>
        <div class="prefectures-iconset">
          <div class="prefectures-zoo">
            <% if @kagawa_zoo != 0 %>
              <div class="prefectures-set">
                <%= link_to "動物園の一覧", spot_facilities_path(category_id: 1, prefectures_id: 37), class: "prefectures-zoo-btn" %>
                <p class="prefectures-text">(<%= @kagawa_zoo %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">動物園の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
          <div class="prefectures-aquarium">
            <% if @kagawa_aquarium != 0 %>
              <div class="prefectures-set">
                <%= link_to "水族館の一覧", spot_facilities_path(category_id: 2, prefectures_id: 37), class: "prefectures-aquarium-btn" %>
                <p class="prefectures-text">(<%= @kagawa_aquarium %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">水族館の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
        </div>
      </div>

      <div class="prefectures-box" id="scroll-ehime">
        <h2 class="prefectures-top chugokushikoku-first-letter">愛媛県</h2>
        <%= image_tag asset_path("ehime-image.jpg"), alt:"愛媛イメージ", width:"560px", height:"220px" %>
        <div class="prefectures-iconset">
          <div class="prefectures-zoo">
            <% if @ehime_zoo != 0 %>
              <div class="prefectures-set">
                <%= link_to "動物園の一覧", spot_facilities_path(category_id: 1, prefectures_id: 38), class: "prefectures-zoo-btn" %>
                <p class="prefectures-text">(<%= @ehime_zoo %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">動物園の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
          <div class="prefectures-aquarium">
            <% if @ehime_aquarium != 0 %>
              <div class="prefectures-set">
                <%= link_to "水族館の一覧", spot_facilities_path(category_id: 2, prefectures_id: 38), class: "prefectures-aquarium-btn" %>
                <p class="prefectures-text">(<%= @ehime_aquarium %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">水族館の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
        </div>
      </div>

      <div class="prefectures-box" id="scroll-kochi">
        <h2 class="prefectures-top chugokushikoku-first-letter">高知県</h2>
        <%= image_tag asset_path("kochi-image.jpg"), alt:"高知イメージ", width:"560px", height:"220px" %>
        <div class="prefectures-iconset">
          <div class="prefectures-zoo">
            <% if @kochi_zoo != 0 %>
              <div class="prefectures-set">
                <%= link_to "動物園の一覧", spot_facilities_path(category_id: 1, prefectures_id: 39), class: "prefectures-zoo-btn" %>
                <p class="prefectures-text">(<%= @kochi_zoo %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">動物園の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
          <div class="prefectures-aquarium">
            <% if @kochi_aquarium != 0 %>
              <div class="prefectures-set">
                <%= link_to "水族館の一覧", spot_facilities_path(category_id: 2, prefectures_id: 39), class: "prefectures-aquarium-btn" %>
                <p class="prefectures-text">(<%= @kochi_aquarium %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">水族館の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
      
    <div class="region-again-search-box">
      <%= link_to "トップページに戻る", "/", class: "region-again-search-btn" %>
    </div>
  </div>

  <div class="top-cursor-set">
    <a href="#scroll-top"><%= image_tag "top-cursor.png", width:"130px", height:"130px" %></a>
  </div>
  
</div>

<%= render "shared/footer" %>
