<%# CSS・・・assets/stylesheets/facilities/region.css %>
<% set_meta_tags noindex: true %>
<%= render "shared/header" %>
<% breadcrumb :hokkaidotohoku_area %>
<%= breadcrumbs separator: " &#x27A4; ", class: "logo" %>

<div class="region-main">
  <div class="region-wrap">
    <div class="region-map">
      <div class="region-box">
        <%= image_tag asset_path("hokkaidotohoku-area.png"), alt:"北海道東北マップ", width:"495px", height:"495px" %>
        <div class="region-map-iconset">
        <%= image_tag asset_path("hokkaido-tohoku-icon.png"), alt:"北海道東北", class:"region-map-name" %>
        <a href="#scroll-hokkaido"><%= image_tag asset_path("hokkaido.png"), alt:"北海道", class:"region-map-prefectures hokkaido" %></a>
        <a href="#scroll-aomori"><%= image_tag asset_path("aomori.png"), alt:"青森", class:"region-map-prefectures aomori" %></a>
        <a href="#scroll-iwate"><%= image_tag asset_path("iwate.png"), alt:"岩手", class:"region-map-prefectures iwate" %></a>
        <a href="#scroll-miyagi"><%= image_tag asset_path("miyagi.png"), alt:"宮城", class:"region-map-prefectures miyagi" %></a>
        <a href="#scroll-akita"><%= image_tag asset_path("akita.png"), alt:"秋田", class:"region-map-prefectures akita" %></a>
        <a href="#scroll-yamagata"><%= image_tag asset_path("yamagata.png"), alt:"山形", class:"region-map-prefectures yamagata" %></a>
        <a href="#scroll-fukushima"><%= image_tag asset_path("fukushima.png"), alt:"福島", class:"region-map-prefectures fukushima" %></a>
        </div>
      </div>
    </div> 

    <div class="prefectures-area">
      <div class="prefectures-box" id="scroll-hokkaido">
        <h2 class="prefectures-top hokkaidotohoku-first-letter">北海道</h2>
        <%= image_tag asset_path("hokkaidotohoku-image.jpg"), alt:"北海道イメージ", width:"560px", height:"220px" %>
        <div class="prefectures-iconset">
          <div class="prefectures-zoo">
            <% if @hokkaido_zoo != 0 %>
              <div class="prefectures-set">
                <%= link_to "動物園の一覧", spot_facilities_path(category_id: 1, prefectures_id: 1), class: "prefectures-zoo-btn" %>
                <p class="prefectures-text">(<%= @hokkaido_zoo %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">動物園の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
          <div class="prefectures-aquarium">
            <% if @hokkaido_aquarium != 0 %>
              <div class="prefectures-set">
                <%= link_to "水族館の一覧", spot_facilities_path(category_id: 2, prefectures_id: 1), class: "prefectures-aquarium-btn" %>
                <p class="prefectures-text">(<%= @hokkaido_aquarium %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">水族館の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
        </div>
      </div>
      
      <div class="prefectures-box" id="scroll-aomori">
        <h2 class="prefectures-top hokkaidotohoku-first-letter">青森県</h2>
        <%= image_tag asset_path("aomori-image.jpg"), alt:"青森イメージ", width:"560px", height:"220px" %>
        <div class="prefectures-iconset">
          <div class="prefectures-zoo">
            <% if @aomori_zoo != 0 %>
              <div class="prefectures-set">
                <%= link_to "動物園の一覧", spot_facilities_path(category_id: 1, prefectures_id: 2), class: "prefectures-zoo-btn" %>
                <p class="prefectures-text">(<%= @aomori_zoo %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">動物園の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
          <div class="prefectures-aquarium">
            <% if @aomori_aquarium != 0 %>
              <div class="prefectures-set">
                <%= link_to "水族館の一覧", spot_facilities_path(category_id: 2, prefectures_id: 2), class: "prefectures-aquarium-btn" %>
                <p class="prefectures-text">(<%= @aomori_aquarium %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">水族館の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
        </div>
      </div>
      
      <div class="prefectures-box" id="scroll-iwate">
        <h2 class="prefectures-top hokkaidotohoku-first-letter">岩手県</h2>
        <%= image_tag asset_path("iwate-image.jpg"), alt:"岩手イメージ", width:"560px", height:"220px" %>
        <div class="prefectures-iconset">
          <div class="prefectures-zoo">
            <% if @iwate_zoo != 0 %>
              <div class="prefectures-set">
                <%= link_to "動物園の一覧", spot_facilities_path(category_id: 1, prefectures_id: 3), class: "prefectures-zoo-btn" %>
                <p class="prefectures-text">(<%= @iwate_zoo %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">動物園の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
          <div class="prefectures-aquarium">
            <% if @iwate_aquarium != 0 %>
              <div class="prefectures-set">
                <%= link_to "水族館の一覧", spot_facilities_path(category_id: 2, prefectures_id: 3), class: "prefectures-aquarium-btn" %>
                <p class="prefectures-text">(<%= @iwate_aquarium %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">水族館の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
        </div>
      </div>
      
      <div class="prefectures-box" id="scroll-miyagi">
        <h2 class="prefectures-top hokkaidotohoku-first-letter">宮城県</h2>
        <%= image_tag asset_path("miyagi-image.jpg"), alt:"宮城イメージ", width:"560px", height:"220px" %>
        <div class="prefectures-iconset">
          <div class="prefectures-zoo">
            <% if @miyagi_zoo != 0 %>
              <div class="prefectures-set">
                <%= link_to "動物園の一覧", spot_facilities_path(category_id: 1, prefectures_id: 4), class: "prefectures-zoo-btn" %>
                <p class="prefectures-text">(<%= @miyagi_zoo %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">動物園の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
          <div class="prefectures-aquarium">
            <% if @miyagi_aquarium != 0 %>
              <div class="prefectures-set">
                <%= link_to "水族館の一覧", spot_facilities_path(category_id: 2, prefectures_id: 4), class: "prefectures-aquarium-btn" %>
                <p class="prefectures-text">(<%= @miyagi_aquarium %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">水族館の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
        </div>
      </div>

      <div class="prefectures-box" id="scroll-akita">
        <h2 class="prefectures-top hokkaidotohoku-first-letter">秋田県</h2>
        <%= image_tag asset_path("akita-image.jpg"), alt:"秋田イメージ", width:"560px", height:"220px" %>
        <div class="prefectures-iconset">
          <div class="prefectures-zoo">
            <% if @akita_zoo != 0 %>
              <div class="prefectures-set">
                <%= link_to "動物園の一覧", spot_facilities_path(category_id: 1, prefectures_id: 5), class: "prefectures-zoo-btn" %>
                <p class="prefectures-text">(<%= @akita_zoo %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">動物園の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
          <div class="prefectures-aquarium">
            <% if @akita_aquarium != 0 %>
              <div class="prefectures-set">
                <%= link_to "水族館の一覧", spot_facilities_path(category_id: 2, prefectures_id: 5), class: "prefectures-aquarium-btn" %>
                <p class="prefectures-text">(<%= @akita_aquarium %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">水族館の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
        </div>
      </div>

      <div class="prefectures-box" id="scroll-yamagata">
        <h2 class="prefectures-top hokkaidotohoku-first-letter">山形県</h2>
        <%= image_tag asset_path("yamagata-image.jpg"), alt:"山梨イメージ", width:"560px", height:"220px" %>
        <div class="prefectures-iconset">
          <div class="prefectures-zoo">
            <% if @yamagata_zoo != 0 %>
              <div class="prefectures-set">
                <%= link_to "動物園の一覧", spot_facilities_path(category_id: 1, prefectures_id: 6), class: "prefectures-zoo-btn" %>
                <p class="prefectures-text">(<%= @yamagata_zoo %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">動物園の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
          <div class="prefectures-aquarium">
            <% if @yamagata_aquarium != 0 %>
              <div class="prefectures-set">
                <%= link_to "水族館の一覧", spot_facilities_path(category_id: 2, prefectures_id: 6), class: "prefectures-aquarium-btn" %>
                <p class="prefectures-text">(<%= @yamagata_aquarium %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">水族館の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
        </div>
      </div>

      <div class="prefectures-box" id="scroll-fukushima">
        <h2 class="prefectures-top hokkaidotohoku-first-letter">福島県</h2>
        <%= image_tag asset_path("fukushima-image.jpg"), alt:"福島イメージ", width:"560px", height:"220px" %>
        <div class="prefectures-iconset">
          <div class="prefectures-zoo">
            <% if @fukushima_zoo != 0 %>
              <div class="prefectures-set">
                <%= link_to "動物園の一覧", spot_facilities_path(category_id: 1, prefectures_id: 7), class: "prefectures-zoo-btn" %>
                <p class="prefectures-text">(<%= @fukushima_zoo %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">動物園の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
          <div class="prefectures-aquarium">
            <% if @fukushima_aquarium != 0 %>
              <div class="prefectures-set">
                <%= link_to "水族館の一覧", spot_facilities_path(category_id: 2, prefectures_id: 7), class: "prefectures-aquarium-btn" %>
                <p class="prefectures-text">(<%= @fukushima_aquarium %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">水族館の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="region-again-search-box">
      <%= link_to "トップページに戻る", "/", class: "region-again-search-btn" %>
    </div>
  </div>

  <div class="top-cursor-set">
    <a href="#scroll-top"><%= image_tag "top-cursor.png", width:"130px", height:"130px" %></a>
  </div>

</div>

<%= render "shared/footer" %>
