<%# CSS・・・assets/stylesheets/facilities/region.css %>
<%= render "shared/header" %>
<% breadcrumb :kanto_area %>
<%= breadcrumbs separator: " &#x27A4; ", class: "logo" %>

<div class="region-main">
  <div class="region-wrap">
    <div class="region-map">
      <div class="region-box">
        <%= image_tag asset_path("kanto-area.png"), alt:"関東マップ", width:"495px", height:"495px" %>
        <div class="region-map-iconset">
        <%= image_tag asset_path("kanto-icon.png"), alt:"関東", class:"region-map-name" %>
        <a href="#scroll-ibaraki"><%= image_tag asset_path("ibaraki.png"), alt:"茨城", class:"region-map-prefectures ibaraki" %></a>
        <a href="#scroll-tochigi"><%= image_tag asset_path("tochigi.png"), alt:"栃木", class:"region-map-prefectures tochigi" %></a>
        <a href="#scroll-gunma"><%= image_tag asset_path("gunma.png"), alt:"群馬", class:"region-map-prefectures gunma" %></a>
        <a href="#scroll-saitama"><%= image_tag asset_path("saitama.png"), alt:"埼玉", class:"region-map-prefectures saitama" %></a>
        <a href="#scroll-chiba"><%= image_tag asset_path("chiba.png"), alt:"千葉", class:"region-map-prefectures chiba" %></a>
        <a href="#scroll-tokyo"><%= image_tag asset_path("tokyo.png"), alt:"東京", class:"region-map-prefectures tokyo" %></a>
        <a href="#scroll-kanagawa"><%= image_tag asset_path("kanagawa.png"), alt:"神奈川", class:"region-map-prefectures kanagawa" %></a>
        </div>
      </div>
    </div> 

    <div class="prefectures-area">
      <div class="prefectures-box" id="scroll-ibaraki">
        <h2 class="prefectures-top kanto-first-letter">茨城県</h2>
        <%= image_tag asset_path("ibaraki-image.jpg"), alt:"茨城イメージ", width:"560px", height:"220px" %>
        <div class="prefectures-iconset">
          <div class="prefectures-zoo">
            <% if @ibaraki_zoo.length != 0 %>
              <div class="prefectures-set">
                <%= link_to "動物園の一覧", spot_facilities_path(category_id: 1, prefectures_id: 8), class: "prefectures-zoo-btn" %>
                <p class="prefectures-text">(<%= @ibaraki_zoo.length %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">動物園の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
          <div class="prefectures-aquarium">
            <% if @ibaraki_aquarium.length != 0 %>
              <div class="prefectures-set">
                <%= link_to "水族館の一覧", spot_facilities_path(category_id: 2, prefectures_id: 8), class: "prefectures-aquarium-btn" %>
                <p class="prefectures-text">(<%= @ibaraki_aquarium.length %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">水族館の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
        </div>
      </div>
      
      <div class="prefectures-box" id="scroll-tochigi">
        <h2 class="prefectures-top kanto-first-letter">栃木県</h2>
        <%= image_tag asset_path("tochigi-image.jpg"), alt:"栃木イメージ", width:"560px", height:"220px" %>
        <div class="prefectures-iconset">
          <div class="prefectures-zoo">
            <% if @tochigi_zoo.length != 0 %>
              <div class="prefectures-set">
                <%= link_to "動物園の一覧", spot_facilities_path(category_id: 1, prefectures_id: 9), class: "prefectures-zoo-btn" %>
                <p class="prefectures-text">(<%= @tochigi_zoo.length %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">動物園の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
          <div class="prefectures-aquarium">
            <% if @tochigi_aquarium.length != 0 %>
              <div class="prefectures-set">
                <%= link_to "水族館の一覧", spot_facilities_path(category_id: 2, prefectures_id: 9), class: "prefectures-aquarium-btn" %>
                <p class="prefectures-text">(<%= @tochigi_aquarium.length %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">水族館の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
        </div>
      </div>
      
      <div class="prefectures-box" id="scroll-gunma">
        <h2 class="prefectures-top kanto-first-letter">群馬県</h2>
        <%= image_tag asset_path("gunma-image.jpg"), alt:"群馬イメージ", width:"560px", height:"220px" %>
        <div class="prefectures-iconset">
          <div class="prefectures-zoo">
            <% if @gunma_zoo.length != 0 %>
              <div class="prefectures-set">
                <%= link_to "動物園の一覧", spot_facilities_path(category_id: 1, prefectures_id: 10), class: "prefectures-zoo-btn" %>
                <p class="prefectures-text">(<%= @gunma_zoo.length %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">動物園の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
          <div class="prefectures-aquarium">
            <% if @gunma_aquarium.length != 0 %>
              <div class="prefectures-set">
                <%= link_to "水族館の一覧", spot_facilities_path(category_id: 2, prefectures_id: 10), class: "prefectures-aquarium-btn" %>
                <p class="prefectures-text">(<%= @gunma_aquarium.length %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">水族館の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
        </div>
      </div>
      
      <div class="prefectures-box" id="scroll-saitama">
        <h2 class="prefectures-top kanto-first-letter">埼玉県</h2>
        <%= image_tag asset_path("saitama-image.jpg"), alt:"埼玉イメージ", width:"560px", height:"220px" %>
        <div class="prefectures-iconset">
          <div class="prefectures-zoo">
            <% if @saitama_zoo.length != 0 %>
              <div class="prefectures-set">
                <%= link_to "動物園の一覧", spot_facilities_path(category_id: 1, prefectures_id: 11), class: "prefectures-zoo-btn" %>
                <p class="prefectures-text">(<%= @saitama_zoo.length %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">動物園の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
          <div class="prefectures-aquarium">
            <% if @saitama_aquarium.length != 0 %>
              <div class="prefectures-set">
                <%= link_to "水族館の一覧", spot_facilities_path(category_id: 2, prefectures_id: 11), class: "prefectures-aquarium-btn" %>
                <p class="prefectures-text">(<%= @saitama_aquarium.length %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">水族館の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
        </div>
      </div>

      <div class="prefectures-box" id="scroll-chiba">
        <h2 class="prefectures-top kanto-first-letter">千葉県</h2>
        <%= image_tag asset_path("chiba-image.jpg"), alt:"千葉イメージ", width:"560px", height:"220px" %>
        <div class="prefectures-iconset">
          <div class="prefectures-zoo">
            <% if @chiba_zoo.length != 0 %>
              <div class="prefectures-set">
                <%= link_to "動物園の一覧", spot_facilities_path(category_id: 1, prefectures_id: 12), class: "prefectures-zoo-btn" %>
                <p class="prefectures-text">(<%= @chiba_zoo.length %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">動物園の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
          <div class="prefectures-aquarium">
            <% if @chiba_aquarium.length != 0 %>
              <div class="prefectures-set">
                <%= link_to "水族館の一覧", spot_facilities_path(category_id: 2, prefectures_id: 12), class: "prefectures-aquarium-btn" %>
                <p class="prefectures-text">(<%= @chiba_aquarium.length %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">水族館の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
        </div>
      </div>

      <div class="prefectures-box" id="scroll-tokyo">
        <h2 class="prefectures-top kanto-first-letter">東京都</h2>
        <%= image_tag asset_path("tokyo-image.jpg"), alt:"東京イメージ", width:"560px", height:"220px" %>
        <div class="prefectures-iconset">
          <div class="prefectures-zoo">
            <% if @tokyo_zoo.length != 0 %>
              <div class="prefectures-set">
                <%= link_to "動物園の一覧", spot_facilities_path(category_id: 1, prefectures_id: 13), class: "prefectures-zoo-btn" %>
                <p class="prefectures-text">(<%= @tokyo_zoo.length %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">動物園の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
          <div class="prefectures-aquarium">
            <% if @tokyo_aquarium.length != 0 %>
              <div class="prefectures-set">
                <%= link_to "水族館の一覧", spot_facilities_path(category_id: 2, prefectures_id: 13), class: "prefectures-aquarium-btn" %>
                <p class="prefectures-text">(<%= @tokyo_aquarium.length %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">水族館の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
        </div>
      </div>

      <div class="prefectures-box" id="scroll-kanagawa">
        <h2 class="prefectures-top kanto-first-letter">神奈川県</h2>
        <%= image_tag asset_path("kanagawa-image.jpg"), alt:"神奈川イメージ", width:"560px", height:"220px" %>
        <div class="prefectures-iconset">
          <div class="prefectures-zoo">
            <% if @kanagawa_zoo.length != 0 %>
              <div class="prefectures-set">
                <%= link_to "動物園の一覧", spot_facilities_path(category_id: 1, prefectures_id: 14), class: "prefectures-zoo-btn" %>
                <p class="prefectures-text">(<%= @kanagawa_zoo.length %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">動物園の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
          <div class="prefectures-aquarium">
            <% if @kanagawa_aquarium.length != 0 %>
              <div class="prefectures-set">
                <%= link_to "水族館の一覧", spot_facilities_path(category_id: 2, prefectures_id: 14), class: "prefectures-aquarium-btn" %>
                <p class="prefectures-text">(<%= @kanagawa_aquarium.length %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">水族館の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="region-again-search-box">
      <%= link_to "別のエリアで探す", "/", class: "region-again-search-btn" %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>
