<%# CSS・・・assets/stylesheets/facilities/search.css %>
<%= render "shared/header" %>
<% breadcrumb :select_search %>
<%= breadcrumbs separator:" &#x27A4; ", class: "logo" %>

<div class="search-main">
  <div class="search-wrap">
    <div class="key-search-top">
      <h1>検索キーワード</h1>
      <h1>【<%= @keyword %>】</h1>
    </div>
    <p class="search-sab-text">検索結果 <%= @facility.length %>件</p>
      
    <% if @facility.length == 0 %>
      <p class="search-non-text">情報が見つかりませんでした。</p>
    <% end %>

    <ul class="facilities-list">
      <%= render partial: "facility", collection: @facility %>
    </ul>

    <div class="again-search-box">
      <%= link_to "別のキーワードで探す", "/", class: "again-search-btn" %>
    </div>
  </div>
</div>
<%= render "shared/footer" %>
