<%# CSS・・・assets/stylesheets/facilities/region.css %>
<% set_meta_tags noindex: true %>
<%= render "shared/header" %>
<% breadcrumb :kinki_area %>
<%= breadcrumbs separator: " &#x27A4; ", class: "logo" %>

<div class="region-main">
  <div class="region-wrap">
    <div class="region-map">
      <div class="region-box">
        <%= image_tag asset_path("kinki-area.png"), alt:"近畿マップ", width:"495px", height:"495px" %>
        <div class="region-map-iconset">
        <%= image_tag asset_path("kinki-icon.png"), alt:"近畿", class:"region-map-name" %>
        <a href="#scroll-mie"><%= image_tag asset_path("mie.png"), alt:"三重", class:"region-map-prefectures mie" %></a>
        <a href="#scroll-shiga"><%= image_tag asset_path("shiga.png"), alt:"滋賀", class:"region-map-prefectures shiga" %></a>
        <a href="#scroll-kyoto"><%= image_tag asset_path("kyoto.png"), alt:"京都", class:"region-map-prefectures kyoto" %></a>
        <a href="#scroll-osaka"><%= image_tag asset_path("osaka.png"), alt:"大阪", class:"region-map-prefectures osaka" %></a>
        <a href="#scroll-hyogo"><%= image_tag asset_path("hyogo.png"), alt:"兵庫", class:"region-map-prefectures hyogo" %></a>
        <a href="#scroll-nara"><%= image_tag asset_path("nara.png"), alt:"奈良", class:"region-map-prefectures nara" %></a>
        <a href="#scroll-wakayama"><%= image_tag asset_path("wakayama.png"), alt:"和歌山", class:"region-map-prefectures wakayama" %></a>
        </div>
      </div>
    </div> 

    <div class="prefectures-area">
      <div class="prefectures-box" id="scroll-mie">
        <h2 class="prefectures-top kinki-first-letter">三重県</h2>
        <%= image_tag asset_path("mie-image.jpg"), alt:"三重イメージ", width:"560px", height:"220px" %>
        <div class="prefectures-iconset">
          <div class="prefectures-zoo">
            <% if @mie_zoo != 0 %>
              <div class="prefectures-set">
                <%= link_to "動物園の一覧", spot_facilities_path(category_id: 1, prefectures_id: 24), class: "prefectures-zoo-btn" %>
                <p class="prefectures-text">(<%= @mie_zoo %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">動物園の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
          <div class="prefectures-aquarium">
            <% if @mie_aquarium != 0 %>
              <div class="prefectures-set">
                <%= link_to "水族館の一覧", spot_facilities_path(category_id: 2, prefectures_id: 24), class: "prefectures-aquarium-btn" %>
                <p class="prefectures-text">(<%= @mie_aquarium %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">水族館の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
        </div>
      </div>
      
      <div class="prefectures-box" id="scroll-shiga">
        <h2 class="prefectures-top kinki-first-letter">滋賀県</h2>
        <%= image_tag asset_path("shiga-image.jpg"), alt:"滋賀イメージ", width:"560px", height:"220px" %>
        <div class="prefectures-iconset">
          <div class="prefectures-zoo">
            <% if @shiga_zoo != 0 %>
              <div class="prefectures-set">
                <%= link_to "動物園の一覧", spot_facilities_path(category_id: 1, prefectures_id: 25), class: "prefectures-zoo-btn" %>
                <p class="prefectures-text">(<%= @shiga_zoo %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">動物園の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
          <div class="prefectures-aquarium">
            <% if @shiga_aquarium != 0 %>
              <div class="prefectures-set">
                <%= link_to "水族館の一覧", spot_facilities_path(category_id: 2, prefectures_id: 25), class: "prefectures-aquarium-btn" %>
                <p class="prefectures-text">(<%= @shiga_aquarium %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">水族館の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
        </div>
      </div>
      
      <div class="prefectures-box" id="scroll-kyoto">
        <h2 class="prefectures-top kinki-first-letter">京都府</h2>
        <%= image_tag asset_path("kyoto-image.jpg"), alt:"京都イメージ", width:"560px", height:"220px" %>
        <div class="prefectures-iconset">
          <div class="prefectures-zoo">
            <% if @kyoto_zoo != 0 %>
              <div class="prefectures-set">
                <%= link_to "動物園の一覧", spot_facilities_path(category_id: 1, prefectures_id: 26), class: "prefectures-zoo-btn" %>
                <p class="prefectures-text">(<%= @kyoto_zoo %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">動物園の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
          <div class="prefectures-aquarium">
            <% if @kyoto_aquarium != 0 %>
              <div class="prefectures-set">
                <%= link_to "水族館の一覧", spot_facilities_path(category_id: 2, prefectures_id: 26), class: "prefectures-aquarium-btn" %>
                <p class="prefectures-text">(<%= @kyoto_aquarium %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">水族館の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
        </div>
      </div>
      
      <div class="prefectures-box" id="scroll-osaka">
        <h2 class="prefectures-top kinki-first-letter">大阪府</h2>
        <%= image_tag asset_path("osaka-image.jpg"), alt:"大阪イメージ", width:"560px", height:"220px" %>
        <div class="prefectures-iconset">
          <div class="prefectures-zoo">
            <% if @osaka_zoo != 0 %>
              <div class="prefectures-set">
                <%= link_to "動物園の一覧", spot_facilities_path(category_id: 1, prefectures_id: 27), class: "prefectures-zoo-btn" %>
                <p class="prefectures-text">(<%= @osaka_zoo %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">動物園の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
          <div class="prefectures-aquarium">
            <% if @osaka_aquarium != 0 %>
              <div class="prefectures-set">
                <%= link_to "水族館の一覧", spot_facilities_path(category_id: 2, prefectures_id: 27), class: "prefectures-aquarium-btn" %>
                <p class="prefectures-text">(<%= @osaka_aquarium %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">水族館の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
        </div>
      </div>

      <div class="prefectures-box" id="scroll-hyogo">
        <h2 class="prefectures-top kinki-first-letter">兵庫県</h2>
        <%= image_tag asset_path("hyogo-image.jpg"), alt:"兵庫イメージ", width:"560px", height:"220px" %>
        <div class="prefectures-iconset">
          <div class="prefectures-zoo">
            <% if @hyogo_zoo != 0 %>
              <div class="prefectures-set">
                <%= link_to "動物園の一覧", spot_facilities_path(category_id: 1, prefectures_id: 28), class: "prefectures-zoo-btn" %>
                <p class="prefectures-text">(<%= @hyogo_zoo %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">動物園の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
          <div class="prefectures-aquarium">
            <% if @hyogo_aquarium != 0 %>
              <div class="prefectures-set">
                <%= link_to "水族館の一覧", spot_facilities_path(category_id: 2, prefectures_id: 28), class: "prefectures-aquarium-btn" %>
                <p class="prefectures-text">(<%= @hyogo_aquarium %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">水族館の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
        </div>
      </div>

      <div class="prefectures-box" id="scroll-nara">
        <h2 class="prefectures-top kinki-first-letter">奈良県</h2>
        <%= image_tag asset_path("nara-image.jpg"), alt:"奈良イメージ", width:"560px", height:"220px" %>
        <div class="prefectures-iconset">
          <div class="prefectures-zoo">
            <% if @nara_zoo != 0 %>
              <div class="prefectures-set">
                <%= link_to "動物園の一覧", spot_facilities_path(category_id: 1, prefectures_id: 29), class: "prefectures-zoo-btn" %>
                <p class="prefectures-text">(<%= @nara_zoo %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">動物園の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
          <div class="prefectures-aquarium">
            <% if @nara_aquarium != 0 %>
              <div class="prefectures-set">
                <%= link_to "水族館の一覧", spot_facilities_path(category_id: 2, prefectures_id: 29), class: "prefectures-aquarium-btn" %>
                <p class="prefectures-text">(<%= @nara_aquarium %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">水族館の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
        </div>
      </div>

      <div class="prefectures-box" id="scroll-wakayama">
        <h2 class="prefectures-top kinki-first-letter">和歌山県</h2>
        <%= image_tag asset_path("wakayama-image.jpg"), alt:"和歌山イメージ", width:"560px", height:"220px" %>
        <div class="prefectures-iconset">
          <div class="prefectures-zoo">
            <% if @wakayama_zoo != 0 %>
              <div class="prefectures-set">
                <%= link_to "動物園の一覧", spot_facilities_path(category_id: 1, prefectures_id: 30), class: "prefectures-zoo-btn" %>
                <p class="prefectures-text">(<%= @wakayama_zoo %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">動物園の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
          <div class="prefectures-aquarium">
            <% if @wakayama_aquarium != 0 %>
              <div class="prefectures-set">
                <%= link_to "水族館の一覧", spot_facilities_path(category_id: 2, prefectures_id: 30), class: "prefectures-aquarium-btn" %>
                <p class="prefectures-text">(<%= @wakayama_aquarium %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">水族館の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="region-again-search-box">
      <%= link_to "トップページに戻る", "/", class: "region-again-search-btn" %>
    </div>
  </div>

  <div class="top-cursor-set">
    <a href="#scroll-top"><%= image_tag "top-cursor.png", width:"130px", height:"130px" %></a>
  </div>

</div>

<%= render "shared/footer" %>
