<%# CSS・・・assets/stylesheets/facilities/region.css %>
<%= render "shared/header" %>
<% breadcrumb :kinki_area %>
<%= breadcrumbs separator: " &#x27A4; ", class: "logo" %>

<div class="region-main">
  <div class="region-wrap">
    <div class="region-map">
      <div class="region-box">
        <%= image_tag asset_path("kinki-area.png"), alt:"近畿マップ", width:"495px", height:"495px" %>
        <div class="region-map-iconset">
        <%= image_tag asset_path("kinki-icon.png"), alt:"近畿", class:"region-map-name" %>
        <%= image_tag asset_path("mie.png"), alt:"三重", class:"region-map-prefectures mie" %>
        <%= image_tag asset_path("shiga.png"), alt:"滋賀", class:"region-map-prefectures shiga" %>
        <%= image_tag asset_path("kyoto.png"), alt:"京都", class:"region-map-prefectures kyoto" %>
        <%= image_tag asset_path("osaka.png"), alt:"大阪", class:"region-map-prefectures osaka" %>
        <%= image_tag asset_path("hyogo.png"), alt:"兵庫", class:"region-map-prefectures hyogo" %>
        <%= image_tag asset_path("nara.png"), alt:"奈良", class:"region-map-prefectures nara" %>
        <%= image_tag asset_path("wakayama.png"), alt:"和歌山", class:"region-map-prefectures wakayama" %>
        </div>
      </div>
    </div> 

    <div class="prefectures-area">
      <div class="prefectures-box">
        <h2 class="prefectures-top kinki-first-letter">三重県</h2>
        <div class="prefectures-iconset">
          <div class="prefectures-zoo">
            <% if @mie_zoo.length != 0 %>
              <p class="prefectures-text"><%= @mie_zoo.length %>件</p>
              <%= link_to "動物園の一覧", spot_facilities_path(category_id: 1, prefectures_id: 24), class: "prefectures-zoo-btn" %>
            <% else %>
              <p class="prefectures-text prefectures-text-non">動物園の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
          <div class="prefectures-aquarium">
            <% if @mie_aquarium.length != 0 %>
              <p class="prefectures-text"><%= @mie_aquarium.length %>件</p>
              <%= link_to "水族館の一覧", spot_facilities_path(category_id: 2, prefectures_id: 24), class: "prefectures-aquarium-btn" %>
            <% else %>
              <p class="prefectures-text prefectures-text-non">水族館の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
        </div>
      </div>
      
      <div class="prefectures-box">
        <h2 class="prefectures-top kinki-first-letter">滋賀県</h2>
        <div class="prefectures-iconset">
          <div class="prefectures-zoo">
            <% if @shiga_zoo.length != 0 %>
              <p class="prefectures-text"><%= @shiga_zoo.length %>件</p>
              <%= link_to "動物園の一覧", spot_facilities_path(category_id: 1, prefectures_id: 25), class: "prefectures-zoo-btn" %>
            <% else %>
              <p class="prefectures-text prefectures-text-non">動物園の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
          <div class="prefectures-aquarium">
            <% if @shiga_aquarium.length != 0 %>
              <p class="prefectures-text"><%= @shiga_aquarium.length %>件</p>
              <%= link_to "水族館の一覧", spot_facilities_path(category_id: 2, prefectures_id: 25), class: "prefectures-aquarium-btn" %>
            <% else %>
              <p class="prefectures-text prefectures-text-non">水族館の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
        </div>
      </div>
      
      <div class="prefectures-box">
        <h2 class="prefectures-top kinki-first-letter">京都府</h2>
        <div class="prefectures-iconset">
          <div class="prefectures-zoo">
            <% if @kyoto_zoo.length != 0 %>
              <p class="prefectures-text"><%= @kyoto_zoo.length %>件</p>
              <%= link_to "動物園の一覧", spot_facilities_path(category_id: 1, prefectures_id: 26), class: "prefectures-zoo-btn" %>
            <% else %>
              <p class="prefectures-text prefectures-text-non">動物園の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
          <div class="prefectures-aquarium">
            <% if @kyoto_aquarium.length != 0 %>
              <p class="prefectures-text"><%= @kyoto_aquarium.length %>件</p>
              <%= link_to "水族館の一覧", spot_facilities_path(category_id: 2, prefectures_id: 26), class: "prefectures-aquarium-btn" %>
            <% else %>
              <p class="prefectures-text prefectures-text-non">水族館の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
        </div>
      </div>
      
      <div class="prefectures-box">
        <h2 class="prefectures-top kinki-first-letter">大阪府</h2>
        <div class="prefectures-iconset">
          <div class="prefectures-zoo">
            <% if @osaka_zoo.length != 0 %>
              <p class="prefectures-text"><%= @osaka_zoo.length %>件</p>
              <%= link_to "動物園の一覧", spot_facilities_path(category_id: 1, prefectures_id: 27), class: "prefectures-zoo-btn" %>
            <% else %>
              <p class="prefectures-text prefectures-text-non">動物園の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
          <div class="prefectures-aquarium">
            <% if @osaka_aquarium.length != 0 %>
              <p class="prefectures-text"><%= @osaka_aquarium.length %>件</p>
              <%= link_to "水族館の一覧", spot_facilities_path(category_id: 2, prefectures_id: 27), class: "prefectures-aquarium-btn" %>
            <% else %>
              <p class="prefectures-text prefectures-text-non">水族館の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
        </div>
      </div>

      <div class="prefectures-box">
        <h2 class="prefectures-top kinki-first-letter">兵庫県</h2>
        <div class="prefectures-iconset">
          <div class="prefectures-zoo">
            <% if @hyogo_zoo.length != 0 %>
              <p class="prefectures-text"><%= @hyogo_zoo.length %>件</p>
              <%= link_to "動物園の一覧", spot_facilities_path(category_id: 1, prefectures_id: 28), class: "prefectures-zoo-btn" %>
            <% else %>
              <p class="prefectures-text prefectures-text-non">動物園の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
          <div class="prefectures-aquarium">
            <% if @hyogo_aquarium.length != 0 %>
              <p class="prefectures-text"><%= @hyogo_aquarium.length %>件</p>
              <%= link_to "水族館の一覧", spot_facilities_path(category_id: 2, prefectures_id: 28), class: "prefectures-aquarium-btn" %>
            <% else %>
              <p class="prefectures-text prefectures-text-non">水族館の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
        </div>
      </div>

      <div class="prefectures-box">
        <h2 class="prefectures-top kinki-first-letter">奈良県</h2>
        <div class="prefectures-iconset">
          <div class="prefectures-zoo">
            <% if @nara_zoo.length != 0 %>
              <p class="prefectures-text"><%= @nara_zoo.length %>件</p>
              <%= link_to "動物園の一覧", spot_facilities_path(category_id: 1, prefectures_id: 29), class: "prefectures-zoo-btn" %>
            <% else %>
              <p class="prefectures-text prefectures-text-non">動物園の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
          <div class="prefectures-aquarium">
            <% if @nara_aquarium.length != 0 %>
              <p class="prefectures-text"><%= @nara_aquarium.length %>件</p>
              <%= link_to "水族館の一覧", spot_facilities_path(category_id: 2, prefectures_id: 29), class: "prefectures-aquarium-btn" %>
            <% else %>
              <p class="prefectures-text prefectures-text-non">水族館の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
        </div>
      </div>

      <div class="prefectures-box">
        <h2 class="prefectures-top kinki-first-letter">和歌山県</h2>
        <div class="prefectures-iconset">
          <div class="prefectures-zoo">
            <% if @wakayama_zoo.length != 0 %>
              <p class="prefectures-text"><%= @wakayama_zoo.length %>件</p>
              <%= link_to "動物園の一覧", spot_facilities_path(category_id: 1, prefectures_id: 30), class: "prefectures-zoo-btn" %>
            <% else %>
              <p class="prefectures-text prefectures-text-non">動物園の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
          <div class="prefectures-aquarium">
            <% if @wakayama_aquarium.length != 0 %>
              <p class="prefectures-text"><%= @wakayama_aquarium.length %>件</p>
              <%= link_to "水族館の一覧", spot_facilities_path(category_id: 2, prefectures_id: 30), class: "prefectures-aquarium-btn" %>
            <% else %>
              <p class="prefectures-text prefectures-text-non">水族館の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="region-again-search-box">
      <%= link_to "別のエリアで探す", "/", class: "region-again-search-btn" %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>
