<%# CSS・・・assets/stylesheets/facilities/region.css %>
<%= render "shared/header" %>
<% breadcrumb :kyushuokinawa_area %>
<%= breadcrumbs separator: " &#x27A4; ", class: "logo" %>

<div class="region-main">
  <div class="region-wrap">
    <div class="region-map">
      <div class="region-box">
        <%= image_tag asset_path("kyushuokinawa-area.png"), alt:"九州沖縄マップ", width:"495px", height:"495px" %>
        <div class="region-map-iconset">
        <%= image_tag asset_path("kyushu-okinawa-icon.png"), alt:"九州沖縄", class:"region-map-name" %>
        <a href="#scroll-fukuoka"><%= image_tag asset_path("fukuoka.png"), alt:"福岡", class:"region-map-prefectures fukuoka" %></a>
        <a href="#scroll-saga"><%= image_tag asset_path("saga.png"), alt:"佐賀", class:"region-map-prefectures saga" %></a>
        <a href="#scroll-nagasaki"><%= image_tag asset_path("nagasaki.png"), alt:"長崎", class:"region-map-prefectures nagasaki" %></a>
        <a href="#scroll-kumamoto"><%= image_tag asset_path("kumamoto.png"), alt:"熊本", class:"region-map-prefectures kumamoto" %></a>
        <a href="#scroll-oita"><%= image_tag asset_path("oita.png"), alt:"大分", class:"region-map-prefectures oita" %></a>
        <a href="#scroll-miyazaki"><%= image_tag asset_path("miyazaki.png"), alt:"宮崎", class:"region-map-prefectures miyazaki" %></a>
        <a href="#scroll-kagoshima"><%= image_tag asset_path("kagoshima.png"), alt:"鹿児島", class:"region-map-prefectures kagoshima" %></a>
        <a href="#scroll-okinawa"><%= image_tag asset_path("okinawa.png"), alt:"沖縄", class:"region-map-prefectures okinawa" %></a>
        </div>
      </div>
    </div> 

    <div class="prefectures-area">
      <div class="prefectures-box" id="scroll-fukuoka">
        <h2 class="prefectures-top kyushuokinawa-first-letter">福岡県</h2>
        <%= image_tag asset_path("fukuoka-image.jpg"), alt:"福岡イメージ", width:"560px", height:"220px" %>
        <div class="prefectures-iconset">
          <div class="prefectures-zoo">
            <% if @fukuoka_zoo.length != 0 %>
              <div class="prefectures-set">
                <%= link_to "動物園の一覧", spot_facilities_path(category_id: 1, prefectures_id: 40), class: "prefectures-zoo-btn" %>
                <p class="prefectures-text">(<%= @fukuoka_zoo.length %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">動物園の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
          <div class="prefectures-aquarium">
            <% if @fukuoka_aquarium.length != 0 %>
              <div class="prefectures-set">
                <%= link_to "水族館の一覧", spot_facilities_path(category_id: 2, prefectures_id: 40), class: "prefectures-aquarium-btn" %>
                <p class="prefectures-text">(<%= @fukuoka_aquarium.length %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">水族館の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
        </div>
      </div>
      
      <div class="prefectures-box" id="scroll-saga">
        <h2 class="prefectures-top kyushuokinawa-first-letter">佐賀県</h2>
        <%= image_tag asset_path("saga-image.jpg"), alt:"佐賀イメージ", width:"560px", height:"220px" %>
        <div class="prefectures-iconset">
          <div class="prefectures-zoo">
            <% if @saga_zoo.length != 0 %>
              <div class="prefectures-set">
                <%= link_to "動物園の一覧", spot_facilities_path(category_id: 1, prefectures_id: 41), class: "prefectures-zoo-btn" %>
                <p class="prefectures-text">(<%= @saga_zoo.length %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">動物園の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
          <div class="prefectures-aquarium">
            <% if @saga_aquarium.length != 0 %>
              <div class="prefectures-set">
                <%= link_to "水族館の一覧", spot_facilities_path(category_id: 2, prefectures_id: 41), class: "prefectures-aquarium-btn" %>
                <p class="prefectures-text">(<%= @saga_aquarium.length %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">水族館の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
        </div>
      </div>
      
      <div class="prefectures-box" id="scroll-nagasaki">
        <h2 class="prefectures-top kyushuokinawa-first-letter">長崎県</h2>
        <%= image_tag asset_path("nagasaki-image.jpg"), alt:"長崎イメージ", width:"560px", height:"220px" %>
        <div class="prefectures-iconset">
          <div class="prefectures-zoo">
            <% if @nagasaki_zoo.length != 0 %>
              <div class="prefectures-set">
                <%= link_to "動物園の一覧", spot_facilities_path(category_id: 1, prefectures_id: 42), class: "prefectures-zoo-btn" %>
                <p class="prefectures-text">(<%= @nagasaki_zoo.length %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">動物園の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
          <div class="prefectures-aquarium">
            <% if @nagasaki_aquarium.length != 0 %>
              <div class="prefectures-set">
                <%= link_to "水族館の一覧", spot_facilities_path(category_id: 2, prefectures_id: 42), class: "prefectures-aquarium-btn" %>
                <p class="prefectures-text">(<%= @nagasaki_aquarium.length %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">水族館の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
        </div>
      </div>
      
      <div class="prefectures-box" id="scroll-kumamoto">
        <h2 class="prefectures-top kyushuokinawa-first-letter">熊本県</h2>
        <%= image_tag asset_path("kumamoto-image.jpg"), alt:"熊本イメージ", width:"560px", height:"220px" %>
        <div class="prefectures-iconset">
          <div class="prefectures-zoo">
            <% if @kumamoto_zoo.length != 0 %>
              <div class="prefectures-set">
                <%= link_to "動物園の一覧", spot_facilities_path(category_id: 1, prefectures_id: 43), class: "prefectures-zoo-btn" %>
                <p class="prefectures-text">(<%= @kumamoto_zoo.length %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">動物園の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
          <div class="prefectures-aquarium">
            <% if @kumamoto_aquarium.length != 0 %>
              <div class="prefectures-set">
                <%= link_to "水族館の一覧", spot_facilities_path(category_id: 2, prefectures_id: 43), class: "prefectures-aquarium-btn" %>
                <p class="prefectures-text">(<%= @kumamoto_aquarium.length %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">水族館の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
        </div>
      </div>

      <div class="prefectures-box" id="scroll-oita">
        <h2 class="prefectures-top kyushuokinawa-first-letter">大分県</h2>
        <%= image_tag asset_path("oita-image.jpg"), alt:"大分イメージ", width:"560px", height:"220px" %>
        <div class="prefectures-iconset">
          <div class="prefectures-zoo">
            <% if @oita_zoo.length != 0 %>
              <div class="prefectures-set">
                <%= link_to "動物園の一覧", spot_facilities_path(category_id: 1, prefectures_id: 44), class: "prefectures-zoo-btn" %>
                <p class="prefectures-text">(<%= @oita_zoo.length %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">動物園の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
          <div class="prefectures-aquarium">
            <% if @oita_aquarium.length != 0 %>
              <div class="prefectures-set">
                <%= link_to "水族館の一覧", spot_facilities_path(category_id: 2, prefectures_id: 44), class: "prefectures-aquarium-btn" %>
                <p class="prefectures-text">(<%= @oita_aquarium.length %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">水族館の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
        </div>
      </div>

      <div class="prefectures-box" id="scroll-miyazaki">
        <h2 class="prefectures-top kyushuokinawa-first-letter">宮崎県</h2>
        <%= image_tag asset_path("miyazaki-image.jpg"), alt:"宮崎イメージ", width:"560px", height:"220px" %>
        <div class="prefectures-iconset">
          <div class="prefectures-zoo">
            <% if @miyazaki_zoo.length != 0 %>
              <div class="prefectures-set">
                <%= link_to "動物園の一覧", spot_facilities_path(category_id: 1, prefectures_id: 45), class: "prefectures-zoo-btn" %>
                <p class="prefectures-text">(<%= @miyazaki_zoo.length %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">動物園の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
          <div class="prefectures-aquarium">
            <% if @miyazaki_aquarium.length != 0 %>
              <div class="prefectures-set">
                <%= link_to "水族館の一覧", spot_facilities_path(category_id: 2, prefectures_id: 45), class: "prefectures-aquarium-btn" %>
                <p class="prefectures-text">(<%= @miyazaki_aquarium.length %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">水族館の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
        </div>
      </div>

      <div class="prefectures-box" id="scroll-kagoshima">
        <h2 class="prefectures-top kyushuokinawa-first-letter">鹿児島県</h2>
        <%= image_tag asset_path("kagoshima-image.jpg"), alt:"鹿児島イメージ", width:"560px", height:"220px" %>
        <div class="prefectures-iconset">
          <div class="prefectures-zoo">
            <% if @kagoshima_zoo.length != 0 %>
              <div class="prefectures-set">
                <%= link_to "動物園の一覧", spot_facilities_path(category_id: 1, prefectures_id: 46), class: "prefectures-zoo-btn" %>
                <p class="prefectures-text">(<%= @kagoshima_zoo.length %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">動物園の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
          <div class="prefectures-aquarium">
            <% if @kagoshima_aquarium.length != 0 %>
              <div class="prefectures-set">
                <%= link_to "水族館の一覧", spot_facilities_path(category_id: 2, prefectures_id: 46), class: "prefectures-aquarium-btn" %>
                <p class="prefectures-text">(<%= @kagoshima_aquarium.length %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">水族館の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
        </div>
      </div>

      <div class="prefectures-box" id="scroll-okinawa">
        <h2 class="prefectures-top kyushuokinawa-first-letter">沖縄県</h2>
        <%= image_tag asset_path("okinawa-image.jpg"), alt:"沖縄イメージ", width:"560px", height:"220px" %>
        <div class="prefectures-iconset">
          <div class="prefectures-zoo">
            <% if @okinawa_zoo.length != 0 %>
              <div class="prefectures-set">
                <%= link_to "動物園の一覧", spot_facilities_path(category_id: 1, prefectures_id: 47), class: "prefectures-zoo-btn" %>
                <p class="prefectures-text">(<%= @okinawa_zoo.length %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">動物園の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
          <div class="prefectures-aquarium">
            <% if @okinawa_aquarium.length != 0 %>
              <div class="prefectures-set">
                <%= link_to "水族館の一覧", spot_facilities_path(category_id: 2, prefectures_id: 47), class: "prefectures-aquarium-btn" %>
                <p class="prefectures-text">(<%= @okinawa_aquarium.length %>件)</p>
              </div>
            <% else %>
              <p class="prefectures-text prefectures-margin-top">水族館の情報が</p>
              <p class="prefectures-text">ありません。</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="region-again-search-box">
      <%= link_to "トップページに戻る", "/", class: "region-again-search-btn" %>
    </div>
  </div>

  <div class="top-cursor-set">
    <a href="#scroll-top"><%= image_tag "top-cursor.png", width:"130px", height:"130px" %></a>
  </div>

</div>

<%= render "shared/footer" %>
