<%# CSS・・・assets/stylesheets/facilities/region.css %>
<%= render "shared/header" %>
<% breadcrumb :kyushuokinawa_area %>
<%= breadcrumbs separator: " &#x27A4; ", class: "logo" %>

<div class="region-main">
  <div class="region-wrap">
    <div class="region-map">
      <div class="region-box">
        <%= image_tag asset_path("kyushuokinawa-area.png"), alt:"九州沖縄マップ", width:"495px", height:"495px" %>
        <div class="region-map-iconset">
        <%= image_tag asset_path("kyushu-okinawa-icon.png"), alt:"九州沖縄", class:"region-map-name" %>
        <%= image_tag asset_path("fukuoka.png"), alt:"福岡", class:"region-map-prefectures fukuoka" %>
        <%= image_tag asset_path("saga.png"), alt:"佐賀", class:"region-map-prefectures saga" %>
        <%= image_tag asset_path("nagasaki.png"), alt:"長崎", class:"region-map-prefectures nagasaki" %>
        <%= image_tag asset_path("kumamoto.png"), alt:"熊本", class:"region-map-prefectures kumamoto" %>
        <%= image_tag asset_path("oita.png"), alt:"大分", class:"region-map-prefectures oita" %>
        <%= image_tag asset_path("miyazaki.png"), alt:"宮崎", class:"region-map-prefectures miyazaki" %>
        <%= image_tag asset_path("kagoshima.png"), alt:"鹿児島", class:"region-map-prefectures kagoshima" %>
        <%= image_tag asset_path("okinawa.png"), alt:"沖縄", class:"region-map-prefectures okinawa" %>
        </div>
      </div>
    </div> 

    <div class="region-again-search-box">
      <%= link_to "別のエリアで探す", "/", class: "region-again-search-btn" %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>
