<%# CSS・・・assets/stylesheets/facilities/search.css %>
<% set_meta_tags noindex: true %>
<%= render "shared/header" %>
<% breadcrumb :select_search %>
<%= breadcrumbs separator:" &#x27A4; ", class: "logo" %>

<div class="search-main">
  <div class="search-wrap">
    <% if @prefectures_id == "0" %>
      <h1 class="search-top-text">日本全国の<%= @category_name %>一覧</h1>
    <% elsif @category_id == "0" %>
      <h1 class="search-top-text"><%= @prefectures_name %>の施設一覧</h1>
    <% else %>
      <h1 class="search-top-text"><%= @prefectures_name %>の<%= @category_name %>一覧</h1>
    <% end %>
    <p class="search-sab-text">検索結果 <%= @facility.length %>件</p>
    
    <% if @facility.length == 0 %>
      <p class="search-non-text">情報が見つかりませんでした。</p>
    <% end %>

    <ul class="facilities-list">
      <%= render partial: "facility", collection: @facility %>
    </ul>

    <div class="again-search-box">
      <%= link_to "トップページに戻る", "/", class: "again-search-btn" %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>
