<%# CSS・・・assets/stylesheets/facilities/show.css %>
<%= render "shared/header" %>
<div calss='show-main'>
  <% if @facility.category.name == "動物園" %>
    <div class='show-facility-list-zoo'>
      <%= image_tag "zoo-icon.png" %>
      <h3 class='show-facility-name'>
        <%= @facility.name %>
      </h3>
    </div>
    <div class='first-show'>
      <h3 class='show-content-zoo'>
        スポット名称
      </h3>
      <p class='show-contents-kana'>
        <%= @facility.kananame %>
      </p>
      <p class='show-contents-name'>
        <%= @facility.name %>
      </p>
      <h3 class='show-content-zoo'>
        所在地
      </h3>
      <p class='show-contents-name'>
        <%= @facility.address %>
      </p>
      <h3 class='show-content-zoo'>
        Google Map(実装予定)
      </h3>
      <div class='map-area'>
      </div>
    </div>
  <% else %>
    <div class='show-facility-list-aquarium'>
      <%= image_tag "aquarium-icon.png" %>
      <h3 class='show-facility-name'>
        <%= @facility.name %>
      </h3>
    </div>
    <div class='first-show'>
      <h3 class='show-content-aquarium'>
        スポット名称
      </h3>
      <p class='show-contents-kana'>
        <%= @facility.kananame %>
      </p>
      <p class='show-contents-name'>
        <%= @facility.name %>
      </p>
      <h3 class='show-content-aquarium'>
        所在地
      </h3>
      <p class='show-contents-name'>
        <%= @facility.address %>
      </p>
      <h3 class='show-content-map'>
        Google Map(実装予定)
      </h3>
      <div class='map-area'>
      </div>
    </div>
  <% end %>
  <div class="upper-content">
    <%= link_to "公式サイトへ (外部リンク)", @facility.official_website, target: :blank, class: "official-btn" %>
  </div>

  <div class='show-comment-ber'>
    <h3 class='show-comment-top'>
      <%= @facility.name %> レビュー  <%= @comments.length %>件
    </h3>
    <ul class='show-comment-list'>
      <%= render partial: 'comment', collection: @comments %>
    </ul>
    <% if @comments.length == 0 %>
      <h3 class='show-comment-picture-nil-text'>
        投稿されたレビューがありません。
      </h3>
      <h3 class='show-comment-picture-nil-text'>
        新しい投稿をお待ちしております。
      </h3>
    <% end %>
  </div>

  <div class='show-picture-ber'>
    <h3 class='show-picture-top'>
      <%= @facility.name %> ベストショット <%= @comments.length %>件
    </h3>
    <ul class='show-picture-list'>
      <%= render partial: 'picture', collection: @pictures %>
    </ul>
    <% if @pictures.length == 0 %>
      <h3 class='show-comment-picture-nil-text'>
        投稿されたベストショットがありません。
      </h3>
      <h3 class='show-comment-picture-nil-text'>
        新しい投稿をお待ちしております。
      </h3>
    <% end %>
  </div>

  <div class='show-btn-set'>
    <%= link_to(new_facility_comment_path(@facility), class: 'comment-btn') do %>
      <span class='comment-btn-text'>レビュー</span>
      <span class='comment-btn-text'>投稿</span>
      <%= image_tag 'review-icon.png' , size: '185x50' ,class: "comment-btn-icon" %>
    <% end %>
    <%= link_to(new_facility_picture_path(@facility), class: 'picture-btn') do %>
      <span class='picture-btn-text'>ベストショット</span>
      <span class='picture-btn-text'>投稿</span>
      <%= image_tag 'picture-icon.png' , size: '185x50' ,class: "picture-btn-icon" %>
    <% end %>
  </div>
</div>
<%= render "shared/footer" %>
