<%# CSS・・・assets/stylesheets/facilities/show.css %>
<%= render "shared/header" %>
<% breadcrumb :show_facility, @facility %>
<%= breadcrumbs separator: " &#x27A4; ", class: "logo" %>

<script type="text/javascript">
  function initMap() {
    const coordinate = {lat: <%= @facility.latitude %>, lng: <%= @facility.longitude %>};
    const map = new google.maps.Map(document.getElementById('map'), {
      center: coordinate,
      zoom: 15
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= @google_key %>&callback=initMap" async defer></script>
<div class="show-main">
  <% if @facility.category.name == "動物園" %>
    <div class="show-facility-list-zoo">
      <%= image_tag "zoo-icon.png", width:"52px", height:"52px" %>
      <h1 class="show-facility-name">
        <%= @facility.name %>
      </h1>
    </div>
    <div class="updated-data">
      最終更新日:<%= @facility.updated_at.to_s(:datetime_jp) %>
    </div>
    <div class="show-facility-announcement">
      ※ 訪問の際は,事前に公式情報をご確認ください
    </div>
    <div class="first-show">
      <h2 class="show-content-zoo">
        スポット名称
      </h2>
      <p class="show-contents-sabtext">
        <%= @facility.kananame %>
      </p>
      <p class="show-contents-text">
        <%= @facility.name %>
      </p>

      <h2 class="show-content-zoo">
        いきもの情報
      </h2>
      <p>
        <% if @facility.animal_data == nil %>
          <p class="show-contents-text non-data">いきもの情報がありません。</p>
        <% else %>
          <% if @facility.business_data == nil %>
            <%= simple_format(@facility.animal_data, class: "show-contents-text") %>
          <% else %>
            <%= simple_format(@facility.business_data, class: "show-contents-text") %>
            <%= simple_format(@facility.animal_data, class: "show-contents-text") %>
          <% end %>
        <% end %>
      </p>

      <h2 class="show-content-zoo">
        注目ポイント
      </h2>
      <p>
        <% if @facility.attention_point == nil %>
          <p class="show-contents-text non-data">注目ポイント情報がありません。</p>
        <% else %>
          <%= simple_format(@facility.attention_point, class: "show-contents-text") %>
        <% end %>
      </p>
      
      <h2 class="show-content-zoo">
        所在地
      </h2>
      <p class="show-contents-text">
        <%= @facility.address %>
      </p>
      <div id="map" style="width:100%; height:360px; margin-top:1.5%">
      </div>
    </div>
  <% else %>
    <div class="show-facility-list-aquarium">
      <%= image_tag "aquarium-icon.png", width:"52px", height:"52px" %>
      <h1 class="show-facility-name">
        <%= @facility.name %>
      </h1>
    </div>
    <div class="updated-data">
      最終更新日:<%= @facility.updated_at.to_s(:datetime_jp) %>
    </div>
    <div class="show-facility-announcement">
      ※ 訪問の際は,事前に公式情報をご確認ください
    </div>
    <div class="first-show">
      <h2 class="show-content-aquarium">
        スポット名称
      </h2>
      <p class="show-contents-sabtext">
        <%= @facility.kananame %>
      </p>
      <p class="show-contents-text">
        <%= @facility.name %>
      </p>

      <h2 class="show-content-aquarium">
        いきもの情報
      </h2>
      <p>
        <% if @facility.animal_data == nil %>
          <p class="show-contents-text non-data">いきもの情報がありません。</p>
        <% else %>
          <% if @facility.business_data == nil %>
            <%= simple_format(@facility.animal_data, class: "show-contents-text") %>
          <% else %>
            <%= simple_format(@facility.business_data, class: "show-contents-text") %>
            <%= simple_format(@facility.animal_data, class: "show-contents-text") %>
          <% end %>
        <% end %>
      </p>

      <h2 class="show-content-aquarium">
        注目ポイント
      </h2>
      <p>
        <% if @facility.attention_point == nil %>
          <p class="show-contents-text non-data">注目ポイント情報がありません。</p>
        <% else %>
          <%= simple_format(@facility.attention_point, class: "show-contents-text") %>
        <% end %>
      </p>

      <h2 class="show-content-aquarium">
        所在地
      </h2>
      <p class="show-contents-text">
        <%= @facility.address %>
      </p>
      <div id="map" style="width:100%; height:360px; margin-top:1.5%">
      </div>
    </div>
  <% end %>
  <div class="upper-content">
    <%= link_to "公式サイトへ (外部リンク)", @facility.official_website, target: :blank, class: "official-btn" %>
  </div>

  <div class="top-picture-main">
    <div class="top-picture-form-wrap">
      <% if @facility.category.name == "動物園" %>
        <h1 class="top-form-top-text show-facility-zoo-first-letter">
          レビュー <%= @comments.length %>件
        </h1>
      <% else %>
        <h1 class="top-form-top-text show-facility-aquarium-first-letter">
          レビュー <%= @comments.length %>件
        </h1>
      <% end %>
      <ul class="mypage-comment-list">
        <%= render partial: "comment", collection: @comments %>
      </ul>
      <% if @comments.length == 0 %>
        <p class="show-comment-picture-nil-text">
          投稿されたレビューがありません。
        </p>
        <p class="show-comment-picture-nil-text">
          新しい投稿をお待ちしております。
        </p>
      <% end %>
    </div>
  </div>

  <div class="top-picture-main">
    <div class="top-picture-form-wrap">
      <% if @facility.category.name == "動物園" %>
        <h1 class="top-form-top-text top-text-picture-top show-facility-zoo-first-letter">
          ベストショット <%= @pictures.length %>件
        </h1>
      <% else %>
        <h1 class="top-form-top-text top-text-picture-top show-facility-aquarium-first-letter">
          ベストショット <%= @pictures.length %>件
        </h1>
      <% end %>
      <ul class="top-picture-list">
        <%= render partial: "picture", collection: @pictures %>
      </ul>
      <% if @pictures.length == 0 %>
        <p class="show-comment-picture-nil-text">
          投稿されたベストショットがありません。
        </p>
        <p class="show-comment-picture-nil-text show-facility-margin">
          新しい投稿をお待ちしております。
        </p>
      <% end %>
    </div>
  </div>

  <div class="show-btn-set">
    <%= link_to(new_facility_comment_path(@facility), class: "comment-btn") do %>
      <span class="comment-btn-text">レビュー</span>
      <span class="comment-btn-text">投稿</span>
      <%= image_tag "review-icon.png" , size: "185x50" ,class: "comment-btn-icon" %>
    <% end %>
    <%= link_to(new_facility_picture_path(@facility), class: "picture-btn") do %>
      <span class="picture-btn-text">ベストショット</span>
      <span class="picture-btn-text">投稿</span>
      <%= image_tag "picture-icon.png" , size: "185x50" ,class: "picture-btn-icon" %>
    <% end %>
  </div>
</div>
<%= render "shared/footer" %>
