<%# CSS・・・assets/stylesheets/facilities/show.css %>
<%= render "shared/header" %>
<div calss='show-main'>
  <% if @facility.category.name == "動物園" %>
    <div class='show-facility-list-zoo'>
      <%= image_tag "zoo-icon.png" %>
      <h3 class='show-facility-texts'>
        <%= @facility.name %>
      </h3>
    </div>
    <div class='first-show'>
      <h3 class='show-content-zoo'>
        スポット名称
      </h3>
      <p class='show-contents-kana'>
        <%= @facility.kananame %>
      </p>
      <p class='show-contents'>
        <%= @facility.name %>
      </p>
      <h3 class='show-content-zoo'>
        所在地
      </h3>
      <p class='show-contents'>
        <%= @facility.address %>
      </p>
    </div>
  <% else %>
    <div class='show-facility-list-aquarium'>
      <%= image_tag "aquarium-icon.png" %>
      <h3 class='show-facility-texts'>
        <%= @facility.name %>
      </h3>
    </div>
    <div class='first-show'>
      <h3 class='show-content-aquarium'>
        スポット名称
      </h3>
      <p class='show-contents-kana'>
        <%= @facility.kananame %>
      </p>
      <p class='show-contents'>
        <%= @facility.name %>
      </p>
      <h3 class='show-content-aquarium'>
        所在地
      </h3>
      <p class='show-contents'>
        <%= @facility.address %>
      </p>
    </div>
  <% end %>
  <div class="upper-content">
    <%= link_to "公式サイトへ (外部リンク)", @facility.official_website, target: :blank, class: "official-btn" %>
  </div>
</div>
<%= render "shared/footer" %>
