<%# CSS・・・assets/stylesheets/facilities/show.css %>
<%= render "shared/header" %>
<div calss='show-main'>
  <% if @facility.category.name == "動物園" %>
    <div class='show-facility-list-zoo'>
      <%= image_tag "zoo-icon.png" %>
      <h3 class='show-facility-texts'>
        <%= @facility.name %>
      </h3>
    </div>
    <div class='first-show'>
      <h3 class='show-content-zoo'>
        スポット名称
      </h3>
      <p class='show-contents-kana'>
        <%= @facility.kananame %>
      </p>
      <p class='show-contents'>
        <%= @facility.name %>
      </p>
      <h3 class='show-content-zoo'>
        所在地
      </h3>
      <p class='show-contents'>
        <%= @facility.address %>
      </p>
      <h3 class='show-content-zoo'>
        Google Map(実装予定)
      </h3>
      <div class='map-area'>
      </div>
    </div>
  <% else %>
    <div class='show-facility-list-aquarium'>
      <%= image_tag "aquarium-icon.png" %>
      <h3 class='show-facility-texts'>
        <%= @facility.name %>
      </h3>
    </div>
    <div class='first-show'>
      <h3 class='show-content-aquarium'>
        スポット名称
      </h3>
      <p class='show-contents-kana'>
        <%= @facility.kananame %>
      </p>
      <p class='show-contents'>
        <%= @facility.name %>
      </p>
      <h3 class='show-content-aquarium'>
        所在地
      </h3>
      <p class='show-contents'>
        <%= @facility.address %>
      </p>
      <h3 class='show-content-map'>
        Google Map(実装予定)
      </h3>
      <div class='map-area'>
      </div>
    </div>
  <% end %>
  <div class="upper-content">
    <%= link_to "公式サイトへ (外部リンク)", @facility.official_website, target: :blank, class: "official-btn" %>
  </div>

  <div class='second-show'>
    <div class='top-comments-show'>
      <h3 class='show-contents'>
        <%= @facility.name %>のレビュー
      </h3>
      <div class=''>
        <%# render partial: 'comment', collection: @comments %>
      </div>
    </div>
  </div>

  <div class='third-show'>
    <div class='top-pictures-show'>
      <h3 class='show-contents'>
        <%= @facility.name %>でのベストショット
      </h3>
      <div class=''>
        <%# render partial: 'picture', collection: @pictures %>
      </div>
    </div>
  </div>

  <div class='shoe-btnset'>
    <%= link_to(new_facility_comment_path(@facility), class: 'comment-btn') do %>
      <span class='comment-btn-text'>レビュー投稿</span>
      <%= image_tag 'review-icon.png' , size: '185x50' ,class: "comment-btn-icon" %>
    <% end %>
    <%= link_to(new_facility_picture_path(@facility), class: 'picture-btn') do %>
      <span class='picture-btn-text'>ベストショット投稿</span>
      <%= image_tag 'picture-icon.png' , size: '185x50' ,class: "picture-btn-icon" %>
    <% end %>
  </div>
</div>
<%= render "shared/footer" %>
