<%# CSS・・・assets/stylesheets/facilities/search.css %>
<%= render "shared/header" %>
<% breadcrumb :spot_search, @facility_first %>
<%= breadcrumbs separator:" &#x27A4; ", class: "logo" %>

<div class="search-main">
  <div class="search-wrap">
    <h1 class="search-top-text"><%= @prefectures_name %>の<%= @category_name %>一覧</h1>
    <p class="search-sab-text"><%= @facility.length %>件</p>

    <ul class="facilities-list">
      <%= render partial: "facility", collection: @facility %>
    </ul>

    <div class="again-search-box">
      <% if @facility_first.region.name == "北海道・東北" %>
        <%= link_to "北海道・東北エリアの別条件で探す", hokkaidotohoku_facilities_path, class: "again-search-btn" %>
      <% elsif @facility_first.region.name == "関東" %>
        <%= link_to "関東エリアの別条件で探す", kanto_facilities_path, class: "again-search-btn" %>
      <% elsif @facility_first.region.name == "中部" %>
        <%= link_to "中部エリアの別条件で探す", chubu_facilities_path, class: "again-search-btn" %>
      <% elsif @facility_first.region.name == "近畿" %>
        <%= link_to "近畿エリアの別条件で探す", kinki_facilities_path, class: "again-search-btn" %>
      <% elsif @facility_first.region.name == "中国・四国" %>
        <%= link_to "中国・四国エリアの別条件で探す", chugokushikoku_facilities_path, class: "again-search-btn" %>
      <% elsif @facility_first.region.name == "九州・沖縄" %>
        <%= link_to "九州・沖縄エリアの別条件で探す", kyushuokinawa_facilities_path, class: "again-search-btn" %>
      <% end %>
    </div>
  </div>
</div>
<%= render "shared/footer" %>
