<%# CSS・・・assets/stylesheets/facilities/search.css %>
<% set_meta_tags title: ''@prefectures_name'の'@category_name'一覧', description: 'あにまるコネクションへようこそ!!'@prefectures_name'の'@category_name'一覧から施設情報にアクセスできます。多種多様な生物との出会いをつくり、その[思い出]を記録することができます。' %>
<%= render "shared/header" %>
<% breadcrumb :spot_search, @facility_first %>
<%= breadcrumbs separator:" &#x27A4; ", class: "logo" %>

<div class="search-main">
  <div class="search-wrap">
    <h1 class="search-top-text"><%= @prefectures_name %>の<%= @category_name %>一覧</h1>
    <p class="search-sab-text"><%= @facility.length %>件</p>

    <ul class="facilities-list">
      <%= render partial: "facility", collection: @facility %>
    </ul>

    <% if @region == "北海道・東北" %>
      <div class="spot-search-box">
        <%= link_to "北海道・東北エリアページに戻る", hokkaidotohoku_facilities_path, class: "spot-search-btn" %>
      </div>
    <% elsif @region == "関東" %>
      <div class="spot-search-box">
        <%= link_to "関東エリアページに戻る", kanto_facilities_path, class: "spot-search-btn" %>
      </div>
    <% elsif @region == "中部" %>
      <div class="spot-search-box">
        <%= link_to "中部エリアページに戻る", chubu_facilities_path, class: "spot-search-btn" %>
      </div>
    <% elsif @region == "近畿" %>
      <div class="spot-search-box">
        <%= link_to "近畿エリアページに戻る", kinki_facilities_path, class: "spot-search-btn" %>
      </div>
    <% elsif @region == "中国・四国" %>
      <div class="spot-search-box">
        <%= link_to "中国・四国エリアページに戻る", chugokushikoku_facilities_path, class: "spot-search-btn" %>
      </div>
    <% elsif @region == "九州・沖縄" %>
      <div class="spot-search-box">
        <%= link_to "九州・沖縄エリアページに戻る", kyushuokinawa_facilities_path, class: "spot-search-btn" %>
      </div>
    <% end %>

  </div>
</div>
<%= render "shared/footer" %>
