<%= render "shared/header" %>
<% breadcrumb :toppicturelist %>
<%= breadcrumbs separator:" &#x27A4; ", class: "logo" %>

<div class="mypage-main">
  <div class="top-picture-main" >
    <div class="top-picture-form-wrap">
      <h1 class="top-form-top-text top-picture-first-letter">
        新規ベストショット
      </h1>
      <div class="kaminari-top">
        <%= paginate @pictures %>
      </div>
      <ul class="top-picture-list">
        <%= render partial: "picture-top", collection: @pictures, as: :new_picture %>
      </ul>
      <div class="kaminari-top">
        <%= paginate @pictures %>
      </div>
    </div>
  </div>

  <div class="good-mypage-Back-box">
    <%= link_to "トップページに戻る", "/", class: "mypage-Back-btn" %>
  </div>
</div>
<%= render "shared/footer" %>
