<%# CSS・・・assets/stylesheets/pictures/new.scss %>
<%= render "shared/header" %>
<% breadcrumb :edit_picture, @picture %>
<%= breadcrumbs separator:" &#x27A4; ", class: "logo" %>

<%= form_with model: @picture, url: user_picture_path(current_user.id, @picture.id), method: :put, class: "registration-main", local: true do |f| %>
  <div class="form-wrap">
    <div class="picture-form-header">
      <% if @facility.category.name == "動物園" %>
          <%= link_to facility_path(@facility.id) do %>
          <div class="newedit-facility-list-zoo">
            <%= image_tag "zoo-icon.png" %>
            <h1 class="newedit-facility-name">
              <%= @facility.name %>
            </h1>
          </div>
        <% end %>
      <% else %>
        <%= link_to facility_path(@facility.id) do %>
          <div class="newedit-facility-list-aquarium">
            <%= image_tag "aquarium-icon.png" %>
            <h1 class="newedit-facility-name">
              <%= @facility.name %>
            </h1>
          </div>
        <% end %>
      <% end %>
      <h1 class="picture-form-text">
        ベストショットの編集
      </h1>
    </div>

    <%= render "shared/error_messages", model: f.object %>

    <% if @facility.category.name == "動物園" %>
      <div class="edit-picture-image-box">
        <%= image_tag @picture.image, class: "edit-picture-zoo", size: "352x264" %>
      </div>
    <% else %>
      <div class="edit-picture-image-box">
        <%= image_tag @picture.image, class: "edit-picture-aquarium", size: "352x264" %>
      </div>
    <% end %>

    <div class="picture-form-group">
      <div>
        <label class="form-text">タイトル</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_field :title, class:"picture-input-default-title", id:"picture-title", maxlength:"25", autofocus: true %>
      <p class="info-text">※更新する画像のタイトルを入力してください。</p>
    </div>

    <div class="picture-form-group">
      <div>
        <label class="form-text">画像説明文</label>
        <span class="indispensable-free">任意</span>
      </div>
      <%= f.text_area :description, class:"picture-input-default-text", id:"picture-description" %>
      <p class="info-text">※更新する画像の説明文を入力してください。</p>
    </div>

    <div class="newedit-register-btn">
      <%= f.submit "ベストショット更新" ,class:"register-red-btn" %>
    </div>

    <div class="picture-show-Back-box">
      <%= link_to  "詳細ページへ戻る", user_picture_path(@picture.user, @picture), class: "picture-show-Back-btn" %>
    </div>
  </div>
<% end %>

<div class="delete-main">
  <div class="delete-form-wrap">
    <div class="delete-form-header">
      <h1 class="delete-form-top-text">
        ベストショットの削除
      </h1>
    </div>

    <div class="delete-form-text">
      <p class="delete-picture-show-text">
        上記のベストショットを削除することができます。
      </p>
      <p class="delete-picture-show-text">
        ベストショットに関する全ての情報が削除されます。
      </p>
    </div>

    <div class="delete-picture-show-btn">
      <%= link_to  "ベストショット削除", user_picture_path(current_user.id, @picture.id), method: :delete, class: "delete-picture-show-red-btn" %>
    </div>

    <div class="delete-picture-show-Back-box">
      <%= link_to  "詳細ページへ戻る", user_picture_path(@picture.user, @picture), class: "delete-picture-show-Back-btn" %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>
