<%# CSS・・・assets/stylesheets/pictures/new.scss %>
<%= render "shared/header" %>
<% breadcrumb :new_picture, @facility %>
<%= breadcrumbs separator:" &#x27A4; ", class: "logo" %>

<%= form_with model: @picture, url: facility_pictures_path, class: "registration-main", local: true do |f| %>
  <div class="form-wrap">
    <div class="picture-form-header">
      <% if @facility.category.name == "動物園" %>
          <%= link_to facility_path(@facility.id) do %>
          <div class="show-facility-list-zoo">
            <%= image_tag "zoo-icon.png" %>
            <h1 class="show-facility-name">
              <%= @facility.name %>
            </h1>
          </div>
        <% end %>
      <% else %>
        <%= link_to facility_path(@facility.id) do %>
          <div class="show-facility-list-aquarium">
            <%= image_tag "aquarium-icon.png" %>
            <h1 class="show-facility-name">
              <%= @facility.name %>
            </h1>
          </div>
        <% end %>
      <% end %>
      <h1 class="picture-form-text">
        ベストショット投稿
      </h1>
    </div>

    <%= render "shared/error_messages", model: f.object %>

    <div class="picture-form-group">
      <div>
        <label class="form-text">ベストショット</label>
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <%= f.file_field :image, class:"picture-input-default-image", id:"picture-image" %>
        <p class="info-text">※クリックしてファイルをアップロードしてください。</p>
        <div class="preview-list" id="picture-preview"></div>
      </div>
    </div>

    <div class="picture-form-group">
      <div>
        <label class="form-text">タイトル</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :title, class:"picture-input-default-title", id:"picture-title", autofocus: true %>
      <p class="info-text">※投稿する画像のタイトルを入力してください。</p>
    </div>

    <div class="picture-form-group">
      <div>
        <label class="form-text">画像説明文</label>
        <span class="indispensable-free">任意</span>
      </div>
      <%= f.text_area :description, class:"picture-input-default-text", id:"picture-description" %>
      <p class="info-text">※投稿する画像の説明文を入力してください。</p>
    </div>

    <div class="register-btn">
      <%= f.submit "ベストショット投稿" ,class:"register-red-btn" %>
    </div>
  </div>
<% end %>

<%= render "shared/footer" %>
