<%# CSS・・・assets/stylesheets/pictures/show.css %>
<%= render "shared/header" %>
<% if user_signed_in? && @user == current_user %>
  <% breadcrumb :show_mypicture, @picture %>
<% else %>
  <% breadcrumb :show_picture, @picture %>
<% end %>
<%= breadcrumbs separator:" &#x27A4; ", class: "logo" %>

<div class="show-picture-main">
  <% if @facility.category.name == "動物園" %>
    <div class="show-picture-list-zoo">
      <%= image_tag "zoo-icon.png", width:"52px", height:"52px" %>
      <h1 class="show-picture-facility-name">
        <%= @facility.name %>
      </h1>
      <% if user_signed_in? %>
        <% if @picture.user_id != current_user.id %>
          <% if Good.exists?(user_id: current_user.id, picture_id: @picture.id) %>
            <%= link_to image_tag("pop1-heart.png", width:"120px", class:"pop-heart"), user_picture_goods_path(current_user.id, @picture.id), method: :delete %>
          <% else %>
            <%= link_to image_tag("pop2-heart.png", width:"120px", class:"pop-heart"), user_picture_goods_path(current_user.id, @picture.id), method: :post %>
          <% end %>
        <% end %>
      <% else %>
        <%= link_to image_tag("pop2-heart.png", width:"120px", class:"pop-heart"), new_user_session_path, data: {confirm: "いいね機能はログインが必要です。ログインページに進みますか?"} %>
      <% end %>
    </div>

    <div class="updated-data">
      投稿日:<%= @picture.created_at.to_s(:datetime_jp) %>
    </div>
    <div class="updated-data">
      投稿者:<%= link_to @user.nickname, user_path(@picture.user_id) %>
    </div>

    <div class="first-show-picture">
      <div class="show-picture-image-box">
        <%= image_tag @picture.image, class: "show-picture-zoo", size: "640x480" %>
      </div>
      <h2 class="show-picture-content-zoo">
        タイトル
      </h2>
      <p class="show-picture-contents-title">
        <%= @picture.title %>
      </p>
      <h2 class="show-picture-content-zoo">
        説明文
      </h2>
      <p>
        <% if @picture.description == "" %>
          <p class="show-picture-contents-description non-description">この投稿に説明はありません。</p>
        <% else %>
          <%= simple_format(@picture.description, class: "show-picture-contents-description") %>
        <% end %>
      </p>
    </div>
  <% else %>
    <div class="show-picture-list-aquarium">
      <%= image_tag "aquarium-icon.png", width:"52px", height:"52px" %>
      <h1 class="show-picture-facility-name">
        <%= @facility.name %>
      </h1>
      <% if user_signed_in? %>
        <% if @picture.user_id != current_user.id %>
          <% if Good.exists?(user_id: current_user.id, picture_id: @picture.id) %>
            <%= link_to image_tag("pop1-heart.png", width:"120px", class:"pop-heart"), user_picture_goods_path(current_user.id, @picture.id), method: :delete %>
          <% else %>
            <%= link_to image_tag("pop2-heart.png", width:"120px", class:"pop-heart"), user_picture_goods_path(current_user.id, @picture.id), method: :post %>
          <% end %>
        <% end %>
      <% else %>
        <%= link_to image_tag("pop2-heart.png", width:"120px", class:"pop-heart"), new_user_session_path, data: {confirm: "いいね機能はログインが必要です。ログインページに進みますか?"} %>
      <% end %>
    </div>

    <div class="updated-data">
      投稿日:<%= @picture.created_at.to_s(:datetime_jp) %>
    </div>
    <div class="updated-data">
      投稿者:<%= link_to @user.nickname, user_path(@picture.user_id) %>
    </div>

    <div class="first-show-picture">
      <div class="show-picture-image-box">
        <%= image_tag @picture.image, class: "show-picture-aquarium", size: "640x480" %>
      </div>
      <h2 class="show-picture-content-aquarium">
        タイトル
      </h2>
      <p class="show-picture-contents-title">
        <%= @picture.title %>
      </p>
      <h2 class="show-picture-content-aquarium">
        説明文
      </h2>
      <p>
        <% if @picture.description == "" %>
          <p class="show-picture-contents-description non-description">この投稿に説明はありません。</p>
        <% else %>
          <%= simple_format(@picture.description, class: "show-picture-contents-description") %>
        <% end %>
      </p>
    </div>
  <% end %>

  <div class="facility-back-box">
    <% if @facility.category.name == "動物園" %>
      <%= link_to  "動物園の詳細ページに戻る", facility_path(@facility.id), class: "zoo-back-btn" %>
    <% else %>
      <%= link_to  "水族館の詳細ページに戻る", facility_path(@facility.id), class: "aquarium-back-btn" %>
    <% end %>
  </div>

  <% if user_signed_in? && @picture.user_id == current_user.id %>
    <div class="picture-edit-btn">
      <%= link_to  "ベストショットの編集 / 削除", edit_user_picture_path(@picture.user, @picture), class: "picture-edit-red-btn", data: {confirm: "ベストショットの編集/削除ページに進みますか?"} %>
    </div>
  <% end %>

<%= render "shared/footer" %>
