<%# CSS・・・assets/stylesheets/pictures/show.css %>
<%= render "shared/header" %>
<% if user_signed_in? && @user == current_user %>
  <% breadcrumb :show_mypicture, @picture %>
<% else %>
  <% breadcrumb :show_picture, @picture %>
<% end %>
<%= breadcrumbs separator:" &#x27A4; ", class: "logo" %>

<div class="show-picture-main">
  <% if @facility.category.name == "動物園" %>
    <%= link_to facility_path(@facility.id) do %>
      <div class="show-picture-list-zoo">
        <%= image_tag "zoo-icon.png" %>
        <h1 class="show-picture-facility-name">
          <%= @facility.name %>
        </h1>
      </div>
    <% end %>
    <p class="updated-data">
      投稿日:<%= @picture.created_at.to_s(:datetime_jp) %>
    </p>
    <p class="updated-data">
      投稿者:<%= link_to @user.nickname, user_path(@picture.user_id) %>
    </p>
    <div class="first-show-picture">
      <div class="show-picture-image-box">
        <%= image_tag @picture.image, class: "show-picture-zoo", size: "640x480" %>
      </div>
      <h2 class="show-picture-content-zoo">
        タイトル
      </h2>
      <p class="show-picture-contents-title">
        <%= @picture.title %>
      </p>
      <h2 class="show-picture-content-zoo">
        説明文
      </h2>
      <p>
        <% if @picture.description == "" %>
          <p class="show-picture-contents-non-description">この投稿に説明はありません。</p>
        <% else %>
          <%= simple_format(@picture.description, class: "show-picture-contents-description") %>
        <% end %>
      </p>
    </div>
  <% else %>
    <%= link_to facility_path(@facility.id) do %>
      <div class="show-picture-list-aquarium">
        <%= image_tag "aquarium-icon.png" %>
        <h1 class="show-picture-facility-name">
          <%= @facility.name %>
        </h1>
      </div>
    <% end %>
    <h2 class="updated-data">
      投稿日:<%= @picture.created_at.to_s(:datetime_jp) %>
    </h2>
    <h2 class="updated-data">
      投稿者:<%= link_to @user.nickname, user_path(@picture.user_id) %>
    </h2>
    <div class="first-show-picture">
      <div class="show-picture-image-box">
        <%= image_tag @picture.image, class: "show-picture-aquarium", size: "640x480" %>
      </div>
      <h2 class="show-picture-content-aquarium">
        タイトル
      </h2>
      <p class="show-picture-contents-title">
        <%= @picture.title %>
      </p>
      <h2 class="show-picture-content-aquarium">
        説明文
      </h2>
      <p>
        <% if @picture.description == "" %>
          <p class="show-picture-contents-non-description">この投稿に説明はありません。</p>
        <% else %>
          <%= simple_format(@picture.description, class: "show-picture-contents-description") %>
        <% end %>
      </p>
    </div>
  <% end %>

  <div class="facility-back-box">
    <% if @facility.category.name == "動物園" %>
      <%= link_to  "動物園の情報を確認する→", facility_path(@facility.id), class: "zoo-back-btn" %>
    <% else %>
      <%= link_to  "水族館の情報を確認する→", facility_path(@facility.id), class: "aquarium-back-btn" %>
    <% end %>
  </div>

  <% if user_signed_in? && @picture.user_id == current_user.id %>
    <div class="picture-edit-btn">
      <%= link_to  "ベストショット情報の編集 / 削除", edit_user_picture_path(@picture.user, @picture), class: "picture-edit-red-btn" %>
    </div>
  <% end %>

<%= render "shared/footer" %>
